[2019-01-18 11:10] pacesm commented on #263
@Imar76 Thanks for bringing this up.

The way the client handles the model validity has to reviewed and fixed/improved. I agree. I will raise the priority of this ticket.

[2019-02-05 12:44] lmar76 opened #282 "CSV vs CDF discrepancies"
I have compared some VirES CDF/CSV products to the corresponding Swarm official ones and I have found some "small" differences between the values included in the VirES CSV and the corresponding values in the official CDF. These differences have been found only in the variables having floating point values and they seem to be related to different rounding and/or number of decimal digits.

In attach

[2019-02-05 13:03] lmar76 opened #283 "Missing Absolute_VTEC, Elevation_Angle (enhancement)"
This issue to trace a possible future enhancement to support the 'Absolute_VTEC' and 'Elevation_Angle' parameters, introduced in the TEC products on July 2017.

[2019-02-05 14:22] pacesm commented on #282
@lmar76
CSV is a text data format and the floating point values cannot be identical because of the text decimal representation. The precision of the floating point values is set to 9 significant digits (`%.9g`).

If you think the precision is not sufficient we can add more digits at a cost of the file size.

CDF is a binary data format and the floating values are stored without any loss of precisi

[2019-02-05 14:46] lmar76 commented on #282
@pacesm Thank you for the explanation. I don't think to be the right person to answer this question. I think it is better to ask DISC (e.g. Nils).

[2019-02-05 15:30] lmar76 commented on #264
It works also on the operational server.

[2019-02-05 16:40] lmar76 commented on #283
For the time being, could you please add it to the evolution features list (i.e. the Excel file)? Thank you.

[2019-02-06 12:56] pacesm commented on #282
@lmar76 Understood. I'll raise this question in DISC.

[2019-02-06 13:06] pacesm commented on #254
@lmar76 This was deployed in production already in the September 2018 release (v.2.2.1).

I consider this issue solved and I will close the ticket.

[2019-02-06 13:06] #254 closed

[2019-02-06 13:09] pacesm commented on #264
@lmar76 Already fixed deployed in production with the September 2018 release (v2.2.1). I am closing the ticket.

[2019-02-06 13:09] #264 closed

[2019-02-06 13:11] pacesm commented on #283
@lmar76 Sure, I'll do.

[2019-02-07 20:17] pacesm commented on #282
TODO: add a note to FAQ about precision of FP values in the CSV data format.

[2019-02-08 09:28] lmar76 opened #284 "Missing physical unit from axis label selecting B_[NEC]_res_model"
Selecting B_[NEC]\_res_*model* on X or Y axis, the physical unit (i.e. [nT]) is not displayed.

The issue has been detected for the following models: MCO_SHA_2x, MLI_SHA_2x, MIO_SHA_2x, MMA_SHA_2x, CHAOS-6-MMA-x.

[2019-02-11 15:37] pacesm commented on #283
@lmar76
FYI, we implemented basic support for the Absolute_VTEC and Elevation_Angle parameters (already deployed on staging). Any special visualization requirements can be discussed/implemented later.

[2019-02-12 08:05] pacesm commented on #282
A note about the CSV precision was added to FAQ.

See: https://github.com/ESA-VirES/VirES-Server/blob/staging/eoxs_allauth/eoxs_allauth/templates/account/faq.html#L167

[2019-02-13 15:52] lmar76 opened #288 "Missing physical unit from axis label selecting GPS_Position and LEO_Position from TEC"
Selecting GPS_Position_[XYZ] or LEO_Position_[XYZ] on X or Y axis, the physical unit is not displayed.

[2019-02-13 15:58] pacesm commented on #288
Confirmed.
Observed in production too.

[2019-02-13 16:46] pacesm commented on #288
Fixed in https://github.com/ESA-VirES/WebClient-Framework/commit/ebd1bfb6cef2988be8b2df615559aa1d34837304

Already deployed on staging.

If you see kilometers as the `GPS_Position_[XYZ]` units instead of the correct meters please reset the client to reload the configuration.

[2019-02-14 14:17] pacesm commented on #267
I confirm that this issue is still present in the current (v.2.2.3) client.

I did not observe this behavior in Firefox and it seems to be Chrome specific (tried with v71.0). It seems the clipping done by the rendered is the culprit. The issue is not limited to the "infinite" MLI and MCO models but it can happen to any model when the validity bounds get too far away with respect to the viewed time

[2019-02-14 14:23] pacesm commented on #253
The problem was solved in v2.2. The ticket will be closed.

[2019-02-14 14:23] #253 closed

[2019-02-15 13:18] lmar76 opened #289 "F10.7 data in the downloaded product files"
As already done with Kp and Dst auxiliaries, also F10.7 should not be included in the downloaded products.

[2019-02-15 13:26] pacesm commented on #289
@lmar76 OK, this should be trivial to fix.

[2019-02-15 15:48] pacesm commented on #289
@lmar76 The issue was solved and the fixed version deployed on staging.

[2019-02-20 09:37] pacesm commented on #288
Fixed. Already deployed in production.

[2019-02-20 09:37] #288 closed

[2019-02-20 09:38] pacesm commented on #289
Fixed. Already deployed in production.

[2019-02-20 09:38] pacesm commented on #283
Fixed. Already deployed in production.

[2019-02-20 09:38] #283 closed

[2019-02-20 09:39] pacesm commented on #282
Done. The updated FAQ were already deployed in production.

[2019-02-20 09:39] #282 closed

[2019-02-20 09:41] pacesm commented on #263
Fixed. Already deployed in production.

[2019-02-20 09:41] #263 closed

[2019-02-20 09:44] pacesm commented on #169
@lmar76 Is this ticket still relevant?

[2019-02-21 10:45] lmar76 opened #293 "Add tooltip for magnetic model (enhancement)"
Currently, pointing the mouse over the product's availability line on the time bar, a tooltip appears indicating the corresponding filename. Since some of the magnetic models are downloaded from the same Swarm FTP server, it could be useful to indicate a tooltip also for these file names.

[2019-02-21 20:23] pacesm commented on #293
OK, that makes sense. Perhaps, we could include in VIR-240.

[2019-02-21 20:24] pacesm commented on #284
Fix deployed on staging.

[2019-02-21 20:24] pacesm commented on #274
Fix deployed on staging.

[2019-02-21 20:25] pacesm commented on #271
Fix deployed on staging.

[2019-02-21 20:26] pacesm commented on #268
Fix deployed on staging.

[2019-03-01 13:25] lmar76 opened #296 "X-axis parameters menu "behind" time bar"
Issue detected on v2.2.3.

In analytics view mode, with filters panel disabled, the drop-down menu for the X-axis parameter selection is displayed behind the time bar

![image](https://user-images.githubusercontent.com/20207042/53640952-d8341e80-3c2d-11e9-9f7e-1340a5ca80b0.png)

[2019-03-01 15:57] lmar76 opened #297 "Hiding of legends in the analytics view (enhancement)"
Could you please add the functionality to hide/show the legends displayed in the scatter plots? In case of multiple plots the same functionality should hide/show all the legends.

As an additional enhancement (to be evaluated) we could add also the possibility to move the legend (e.g. by click and drag with the mouse).

[2019-03-01 16:02] lmar76 opened #298 "Parameter displayed in the legend for 2D plots"
In case of 2D plots (VIR-060) the GUI should display the parameter represented with the colorscale because it depends on the X and Y parameters.

[2019-03-04 09:01] pacesm commented on #289
By removing the F10.7 from the downloads we made the validation of the MIO models impossible.

The F10.7 values are used in the scaling factor of the MIO_SHA_2* models. With no option to retrieve the exact values used for the model evaluation the model calculation cannot be reproduced and hence decided whether the downloaded model values are correct or not.

Also note that it might be useful to ha

[2019-03-04 13:26] lmar76 commented on #289
The reason behind the indices removal is that these auxiliary data are retrieved from external sources (i.e. non-ESA) and their distribution is permitted only for some specific users (e.g.: CalVal, VirES) and not to the entire community. This means that VirES application can use this data to perform calculations (e.g. model's evaluation) but it has been decided to not allow the VirES users to down

[2019-03-05 16:57] lmar76 opened #300 "Magnetic Model label in the globe view (enhancement)"
Issue detected on v2.3.0.

In the previous versions, if the user selected a magnetic model, the name of the model  and the selected parameter was reported above the color scale. E.g.:

![image](https://user-images.githubusercontent.com/20207042/53822243-a4c7fb80-3f6f-11e9-8764-fa8b6025078a.png)

In the new version, the label reports the text "Magnetic Model".:

![image](https://user-images.githubu

[2019-03-05 17:01] lmar76 opened #301 "Add the "x" icon to close the "Config" window (enhancement)"
Issue detected on v2.3.0.

Currently the user must click on the "Config" link to close the "Config" window. This is not very intuitive. Could you please add the "x" icon on the top right corner (e.g. see windows to select the parameter on x or y axis) to close the window?

[2019-03-06 09:42] lmar76 opened #302 "Rename "Apply colorscale" label (enhancement)"
Could you please rename the "Apply colorscale" label to "Add third variable"?

![image](https://user-images.githubusercontent.com/20207042/53871434-8c51f280-3ffc-11e9-850b-f0e46edb1642.png)

[2019-03-07 13:19] lmar76 opened #303 "Parameters window scrollbar overlapped with "x" (close) icon on macOS"
The scrollbar in the parameters window appears overlapped with the "x" (close) icon and, sometimes, it is not possible to close it. This issue has been detected only on macOS with Chrome, Firefox and Safari:

![schermata 2019-03-06 alle 23 15 51_upd](https://user-images.githubusercontent.com/20207042/53959354-b6321480-40e3-11e9-9c1d-2fccdbf5e23a.png)

On Windows the "x" icon appears separated from

[2019-03-07 16:12] lmar76 opened #305 "Multiple plots not saved"
Issue detected on v2.3.0.

The following plot with multiple parameters has been created on the GUI: B_N, B_E, B_C vs Latitude (see screenshot below).

![image](https://user-images.githubusercontent.com/20207042/53970748-ac1c1000-40fb-11e9-89b4-1b7ee33a9b28.png)

In the images downloaded, only the first parameter (in this case, B_N) is visible:

![vires_for_swarm_20190307](https://user-images.githu

[2019-03-07 17:04] santilland commented on #305
There was an issue with an array iteration which was taking only the first parameter in the saving process, this has been solved and deployed to staging.

[2019-03-07 17:04] santilland commented on #303
Added some margin to the right which should solve the issue.

[2019-03-07 17:05] santilland commented on #301
Added the x button also to this panel.

[2019-03-07 17:28] pacesm commented on #303
deployed on staging

[2019-03-07 17:28] pacesm commented on #301
deployed on staging

[2019-03-08 08:28] lubojr commented on #202
I believe that this is already implemented on production.  Could you please confirm?

[2019-03-08 08:32] lubojr commented on #143
I believe this issue will get solved once a pull request #304 is merged.

[2019-03-08 09:28] lubojr commented on #123
Style was changed to warning and deployed to staging.

[2019-03-08 09:28] lubojr commented on #106
z-index of the download panel has been increased to go over timeslider panel, deployed on staging

[2019-03-08 09:39] lubojr commented on #77
I believe this is already solved in the production, since download option is on top panel.

[2019-03-08 10:23] lubojr commented on #57
I believe this is already fixed in production, since we now have much newer cesium version

[2019-03-08 11:15] lubojr commented on #38
Tooltip size was decreased, double rectangle word gone - deployed to staging. Easier selection will be enabled through forms once #304 is merged.

[2019-03-08 16:25] pacesm commented on #202
It seems to me that right now the download time selection by default selects whole days rather then the exact time selection as requested by this ticket.

@lmar76 Do I understand your ticket correctly that you would like to replace the (currently default) selection by whole days by selection by exact time (which is now optional)?

[2019-03-08 16:33] pacesm commented on #143
@lubojr FYI, this requirement is currently on hold (VIR-100).

[2019-03-11 12:39] lmar76 commented on #305
Ok, it works!

[2019-03-11 12:39] lmar76 commented on #303
Ok, it works!

[2019-03-11 12:39] lmar76 commented on #301
Ok, it works!

[2019-03-11 13:11] pacesm commented on #305
This feature has not been deployed yet in production and it is already fixed in staging. The ticket can be closed.

[2019-03-11 13:11] #305 closed

[2019-03-11 13:16] pacesm commented on #303
To be closed when v2.3.0 gets deployed in production.

[2019-03-11 13:19] pacesm commented on #301
The feature has not been deployed in production yet and it was already fixed in staging.

The ticket can be closed.

[2019-03-11 13:19] #301 closed

[2019-03-11 13:33] #289 closed

[2019-03-11 13:36] pacesm commented on #284
Deployed in production in v2.2.3.

[2019-03-11 13:57] pacesm commented on #296
@lmar76 fixed in staging

[2019-03-11 14:51] santilland commented on #302
![image](https://user-images.githubusercontent.com/4036819/54132836-37a3e280-4415-11e9-9d81-67bcd1316ec2.png)
Label renamed in staging, ticket could be closed.

[2019-03-11 15:12] pacesm commented on #233
already deployed in staging

[2019-03-11 15:19] pacesm commented on #191
Already implemented and deployed in production in v2.1.

[2019-03-11 15:19] #191 closed

[2019-03-11 15:32] pacesm commented on #267
fix already deployed on staging

[2019-03-11 15:56] pacesm commented on #284
Sorry, yet to be deployed in v2.3.0.

[2019-03-12 08:46] lmar76 opened #306 "Multiple (vertically stacked) plots for TEC"
Selecting TEC product, 3 different (vertically stacked) plots are automatically visualized: Absolute_STEC, Absolute_VTEC and Elevation_Angle. Can you please leave only Absolute_STEC as "default" parameter (as already implemented in v2.2.3)?

[2019-03-12 10:03] lmar76 opened #308 "Multiple (vertically stacked) plots with EEF"
1. Select MAG LR product -> Plot F vs Latitude is visualized.
2. Slect EEF product in addition to MAG LR -> A second (vertically stacked) **empty** plot is visualized.
3. Deselect the MAG LR product -> The F vs Latitude plot is removed and now the EEF is visible.

![image](https://user-images.githubusercontent.com/20207042/54191527-64f49d00-44b6-11e9-833d-1789b9c9003e.png)

[2019-03-12 10:25] lmar76 opened #309 "MLT parameter on secondary Y-axis not visible"
The following plot has been visualized on the operational v2.2.3: F vs Timestamp + MLT vs Timestamp

![image](https://user-images.githubusercontent.com/20207042/54192921-4ba12000-44b9-11e9-9d4f-1e8d5b34ef4b.png)

A tentative to reproduce the same plot on v2.3.0 (staging) has been done but the MLT is not visible:

![image](https://user-images.githubusercontent.com/20207042/54193034-8d31cb00-44b9-11

[2019-03-12 10:40] lmar76 opened #310 "Filters for periodic parameters (enhancement)"
Currently the filter scale range on Latitude_periodic and QDLatitude_periodic is [0,400]:

![image](https://user-images.githubusercontent.com/20207042/54193741-fe25b280-44ba-11e9-83c4-e462e91827fe.png)

With this scale it is not straightforward how to select the correct range of latitudes. Why not adding the same representation of the plots, i.e. "scrollable" scales with the arrows indicating asce

[2019-03-12 13:56] pacesm opened #311 "Plotting satellite tracks on the map with a solid color."
GFZ/GK proposed following enhancements:
- allow plotting of the satellite track on the globe/map with a user-selected solid color as an alternative to a colormap.

![screen-shot-0154](https://user-images.githubusercontent.com/4050019/54205407-8f565280-44d6-11e9-8a73-202048c09da9.png)

- allow connecting points on the globe/map with lines because the satellite track may no longer be obvious for a l

[2019-03-12 14:07] pacesm commented on #310
@lmar76
We will not be able to quickly fix this one. Is it okay when we deactivate the filters for the periodic latitudes?

[2019-03-12 14:11] lmar76 commented on #310
Ok.

[2019-03-12 14:12] lubojr commented on #306
Change was deployed to staging.

[2019-03-12 14:26] pacesm opened #312 "Wrong Kp index values."
As it was explained to us by GFZ/GK and DTU/NiO, the _Kp_ values currently used in VirES are not the actual _Kp_ index values (from 0 to 9) but the _Kp_.10 values (from 0 to 90, i.e., _Kp_ multiplied by 10).

The source values shall be divided by 10 to get the correct _Kp_ index.

[2019-03-12 17:04] pacesm commented on #308
@lmar76
FYI, I tried to reproduce this with the version 2.2.3 deployed in production (using one EEF plot) I get similar behavior and it is likely that it was present even already before.

I suspect that behavior is caused by the nature of the EEF (a point at the equator) and the way we sub-sample data fetched to the client (e.g., 1 sample per 20s). The MAGx_LR samples are too far away from the equ

[2019-03-12 17:43] lubojr commented on #310
Disabling periodic latitude filters deployed to staging

[2019-03-13 09:32] lubojr commented on #57
Tested on production and staging and the problem is still not fixed for IE11 as of now.

[2019-03-13 11:47] pacesm commented on #312
fixed on staging

[2019-03-13 14:46] lmar76 commented on #312
Can you please limit decimal digits to avoid the following issue?

![image](https://user-images.githubusercontent.com/20207042/54287934-e3306c80-45a6-11e9-9d38-31210e1ccb3d.png)

[2019-03-13 15:10] pacesm opened #313 "Fix decimal places to avoid floating point artefatcs."
The rendering of the tick labels in the AV plots should render the decimal numbers to fixed number of decimal places to prevent floating point round-off artifacts

![screen-shot-0155](https://user-images.githubusercontent.com/4050019/54289967-6ef7c800-45aa-11e9-9fcc-4eb92b8c091b.png)

[2019-03-13 15:12] pacesm commented on #312
@lmar76 This is a problem of the plotting library unrelated to the actual _Kp_.  I moved this issue to a separate ticket #313

[2019-03-13 15:41] lmar76 opened #314 "AoI selection form (enhancement)"
Could you please automatically update the AoI selection form with the coordinates obtained while "drawing" the selection area with the mouse?

[2019-03-13 15:51] lmar76 commented on #300
Please, extend the requirements also to the analytics plot (F_res_<model_name> or B_NEC_res_<model_name>) and to the warnings visualized when the time selection is outside the model's time validity.

[2019-03-14 14:39] lmar76 commented on #296
I tried again but I have the same issue:

![image](https://user-images.githubusercontent.com/20207042/54365314-e8f18500-466e-11e9-8c88-f9bea426e318.png)

I think that displaying the window *above* the selected measurement would be also fine. The important thing is that it is visible.

[2019-03-14 15:01] pacesm commented on #296
@lmar76 OK, it is a different overlay, but the problem is the same. The z-index of the overlay is below the time-slider.

[2019-03-14 15:07] lmar76 commented on #296
Sorry, I have confused the issue that was affecting the X-axis with this one. I confirm that the one related to the X-axis is fixed.

[2019-03-14 15:20] pacesm commented on #313
FYI, I am able to reproduce this issue in any browser simply by dragging the Y axis and moving it up or down.

[2019-03-14 16:24] lmar76 commented on #271
Ok, it works.

[2019-03-14 16:25] lmar76 commented on #268
Tested.

[2019-03-14 16:31] lmar76 commented on #274
Tested.

[2019-03-14 16:33] lubojr commented on #314
Actually it was sort of a bug rather than enhancement. Fix deployed to staging.

[2019-03-14 16:46] pacesm commented on #298
@lmar76
Just to confirm that I understand this requirement correctly ...

When a third variables is added and displayed as a colormap, you would like to change the default label in the legend from the variable which defines the Y position, as it is done right now:

![screen-shot-0156](https://user-images.githubusercontent.com/4050019/54374770-1f83cb80-4680-11e9-8353-6c60d2101465.png)

to the name

[2019-03-14 16:57] pacesm commented on #297
@lmar76
FYI, the legend is used to control the plotting style of the displayed variables. When we hide it then there is no way how to change the plotting style and we would need to invent a new control.

[2019-03-15 08:31] lubojr commented on #296
Data point table z-index was increased to go over time slider. Deployed to staging.

[2019-03-15 10:20] santilland commented on #313
Fix deployed to staging

[2019-03-15 14:42] pacesm opened #315 "Different colomaps offered by different parts of the client."
![screen-shot-0158](https://user-images.githubusercontent.com/4050019/54438255-9da2a980-4736-11e9-908a-2e21126b6e65.png) | ![screen-shot-0159](https://user-images.githubusercontent.com/4050019/54438259-a0050380-4736-11e9-8e3e-f49d48ec88af.png)

The list of color-maps offered by the product settings and the AV are not the same.

Apart from the obvious different order, there are color-maps which are

[2019-03-15 14:52] pacesm opened #316 "Add new cyclic color-maps"
It would be nice to have more cyclic color-maps to display cyclic properties such as, e.g., MLT.

Currently, `hsv` is the only available cyclic color-map in VirES.

A possible candidate are `twilight` and `twilight_shifted` [available in Matplotlib](https://matplotlib.org/users/whats_new.html#cyclic-colormaps).

[2019-03-18 14:32] lmar76 commented on #313
Ok, tested.

[2019-03-18 16:54] lmar76 commented on #312
Tested.

[2019-03-18 16:54] lmar76 commented on #314
Tested.

[2019-03-18 16:55] lmar76 commented on #310
Tested. Please, leave it open until the next implementation.

[2019-03-19 14:09] lmar76 commented on #296
Ok, tested.

[2019-03-19 14:14] lmar76 commented on #267
Tested.

[2019-03-19 14:15] lmar76 commented on #233
Tested.

[2019-03-19 14:17] lmar76 commented on #123
Tested.

[2019-03-19 15:07] lmar76 commented on #284
It seems they are visible now.

[2019-03-19 15:10] lmar76 commented on #106
Tested.

[2019-03-19 15:16] lmar76 commented on #38
Tested.

[2019-03-19 15:18] #313 closed

[2019-03-19 15:18] #314 closed

[2019-03-19 15:19] #123 closed

[2019-03-19 15:19] #106 closed

[2019-03-19 15:19] #38 closed

[2019-03-19 15:20] #306 closed

[2019-03-19 15:21] #312 closed

[2019-03-19 15:21] lmar76 commented on #298
Yest, it is right.

[2019-03-19 15:22] #284 closed

[2019-03-19 15:22] #267 closed

[2019-03-19 15:22] #233 closed

[2019-03-19 15:22] #296 closed

[2019-03-19 15:23] #268 closed

[2019-03-19 15:23] #274 closed

[2019-03-19 15:24] #271 closed

[2019-03-19 15:24] #302 closed

[2019-03-19 15:26] pacesm commented on #303
The issue is assigned to a milestone and can be closed before the actual production deployment.

[2019-03-19 15:26] #303 closed

[2019-03-19 15:39] lmar76 commented on #297
I remember that, during the last teleconference, Daniel proposed to add a new control in the Config window.

[2019-03-22 09:22] lmar76 commented on #298
Tested.

[2019-03-22 14:30] pacesm commented on #309
This issue is cased but a current limitation of the plotting library which does not allow mixing cyclic and regular y-axes. As a mitigation we disabled the cyclic axis for seconds y-axis (MLT) and the plots is possible like in the previous version v2.2.3.

The fix has been already deployed on testing.

[2019-03-22 14:39] #298 closed

[2019-03-22 14:51] lmar76 commented on #309
Ok, tested.

[2019-03-28 08:54] pacesm commented on #308
@lmar76 FYI, the fix has just been deployed to staging.

Extra samples are included to so that the sparse EEF values are included in the server response.

[2019-03-28 09:50] pacesm opened #319 "Handle gracefully cases when the X-axis variable becomes unavaiable."
Detected on production v2.3.0.

The AV plotting library does not seem to handle situation when the variable used on the X-axis becomes unavailable.

E.g.,
1) first select `MAGA` product
2) set the X-axis to `F`
3) un-select `MAGA`
4) select `EFI`

After this AV panel crashes and the controls stop working.
[code]

Please implement a check of the missing X-axis variable to prevent the error.
The X-a

[2019-03-28 16:11] pacesm commented on #293
FYI, since we changed to the composed model in v2.3.0, there might be more than one model file at a time.

The validity of the composed model shown on the time slider is an intersection of the validates of the contributing models it might be also good to indicate what the actual model composition is (model expression).

[2019-03-29 15:27] lmar76 opened #321 "Latitude_periodic and QDLatitude_periodic not visible"
Issue detected on operational server (v2.3.0).

The plots `Latitude_periodic` vs `Timestamp` and `QDLatitude_periodic` vs `Timestamp` are not visible (see example below).

![image](https://user-images.githubusercontent.com/20207042/55243332-4d037400-523f-11e9-879c-e0bfa7ea44ef.png)

Please note that the same plot is visible on the staging platform:

![image](https://user-images.githubusercontent.c

[2019-04-01 09:40] pacesm commented on #321
@lmar76 I am sorry, apparently the orbit direction look-up tables were not properly initialized. The problem should be solved now.

[2019-04-01 13:30] lmar76 commented on #321
Ok, tested.

[2019-04-01 13:32] pacesm commented on #321
Problem solved. I am closing the ticket.

[2019-04-01 13:32] #321 closed

[2019-04-05 08:58] pacesm commented on #300
@lmar76 FYI, there is a new version of the client deployed on staging which tries to address this issue.

For single models, the full model name is displayed and the selected range of the degrees is indicated

![screen-shot-0162](https://user-images.githubusercontent.com/4050019/55616024-2f7b6080-5791-11e9-88b6-98687fc19072.png)

In case of composed models, the long expression is truncated to fit

[2019-04-10 12:23] pacesm opened #322 "AV: wrong data line-connections - points outside the view"
The rendering of line connections between data points in AV has following issues:

1) Only visible points are connected and connection to points outside of the visible plot extent are left out. This makes the plots confusing and creates a false impression that there are no points outside of the extent of the plot axes.
![screen-shot-0164](https://user-images.githubusercontent.com/4050019/55877173-

[2019-04-10 14:11] pacesm opened #323 "AV: wrong data line-connections - data gaps"
The rendering of line connections between data points in AV has following issues:

...

2) In case of a gap between points because of, e.g., missing data or data points being filtered out, non-consecutive points are connected.
![screen-shot-0165](https://user-images.githubusercontent.com/4050019/55877607-c6358c00-5b9a-11e9-8c4b-98e1e8c87972.png)

[2019-04-12 12:48] lmar76 commented on #308
Tested, thank you!

[2019-04-12 13:47] pacesm commented on #308
Already tested, deployed to staging and assigned to a milestone. I guess it is fine when I close it.

[2019-04-12 13:47] #308 closed

[2019-04-12 14:11] lmar76 commented on #308
Is it already in operations?

From:   pacesm <notifications@github.com>
To:     ESA-VirES/WebClient-Framework
<WebClient-Framework@noreply.github.com>
Cc:     Luca Mariani <lmar76@gmail.com>, Mention
<mention@noreply.github.com>
Date:   12/04/2019 15:47
Subject:        Re: [ESA-VirES/WebClient-Framework] Multiple (vertically
stacked) plots with EEF (#308)

Closed #308.
?
You are receiving this bec

[2019-04-12 14:18] santilland commented on #319
Added check to see if x axis parameter is still available when data changes, if previous selection not available it will fall back to timestamp for visualization.
Solution deployed to staging.

[2019-04-12 16:10] #319 closed

[2019-04-18 07:52] pacesm opened #326 "Multiple field-line requestes."
When the client is re-loaded and the field-lines are selected/displayed the client sends instantly three identical requests to the server.

![screen-shot-0166](https://user-images.githubusercontent.com/4050019/56345161-5ee19280-61bf-11e9-8542-7719b6fa8eb1.png)

In case of a more complicated composed model this puts the server under unnecessarily heave load and slows down the initialization of the

[2019-04-18 13:59] lmar76 commented on #300
Could it be possible to find a solution for the composite model? It is fine to have the concatenated names but if the string is truncated it is not possible to understand from the picture what is represented in the color code map.

[2019-04-18 16:21] pacesm commented on #300
I see two possible ways how we could show the full composed model expression:
1) showing the full expression broken to multiple lines. This is however not completely trivial as the legend is rendered as SVG and not HTML.
2) show the full expressions as a tool-tip on mouse over.

Which one do you prefer?

[2019-04-19 11:47] lmar76 commented on #300
I think the second one is fine. Thank you.

[2019-04-23 09:19] lmar76 opened #328 "Default parameter displayed in the analytics view"
Issue detected on v2.3.0.

Even if the plot of the default parameter (for a given product type) is removed from the analytics view, if the user adds a new product type (i.e. from the layers list) the old default parameter is added again:

1. Access the web interface and click Reset -> MAG LR, Swarm A, F vs Latitude is displayed in the analytics view
2. Change the parameter on the Y axis from F to

[2019-04-25 17:19] pacesm commented on #323
Fixed in https://github.com/ESA-VirES/WebClient-Framework/pull/329

[2019-04-25 17:19] #323 closed

[2019-04-25 17:20] pacesm commented on #322
Fixed in https://github.com/ESA-VirES/WebClient-Framework/pull/329

[2019-04-25 17:20] #322 closed

[2019-04-25 17:21] pacesm commented on #316
Implemented in https://github.com/ESA-VirES/WebClient-Framework/pull/329
Two new colormaps `twilight` and `twilight_shifted` added.

[2019-04-25 17:21] #316 closed

[2019-04-25 17:21] pacesm commented on #315
Fixed in https://github.com/ESA-VirES/WebClient-Framework/pull/329

[2019-04-25 17:21] #315 closed

[2019-04-26 15:25] santilland commented on #328
Thanks for the input,
just to make sure the issue is understood correctly, the expected behavior is when adding another collection keep the previously configured parameters.
So in your example it would mean show Ne(plasma) in one plot and B_C (mag) on the other, correct?
What should be the behavior if the x axis is changed?

[2019-04-29 09:55] lmar76 commented on #328
Correct. If the x axis is changed, I think the GUI should display the default parameter of the new product (e.g. Ne if you add plasma) vs the new parameter on x axis.

[2019-04-29 10:06] lmar76 commented on #309
It works also on the operational platform. I think it can be closed.

[2019-04-29 10:37] pacesm commented on #309
OK, I am closing the ticket.

[2019-04-29 10:37] #309 closed

[2019-04-29 13:15] lmar76 commented on #202
@pacesm I don't remember how was the behaviour when the ticket was created but I think that the current one is fine. Activating the "specify time"  box, the time selection is automatically filled. I think the issue can be closed.

[2019-04-29 13:31] pacesm commented on #202
OK, I'm closing the issue.

[2019-04-29 13:31] #202 closed

[2019-04-29 14:45] pacesm commented on #326
Solved in https://github.com/ESA-VirES/WebClient-Framework/pull/330

[2019-04-29 14:45] #326 closed

[2019-04-30 09:10] lubojr commented on #300
An attempt to fix the issue has just been deployed to staging.
Label images for Composed models with more than 1 component now show only name instead of full Model expression, which can than be seen as a tooltip on mouse over.
When model has only one component, the full model expression is shown in the label.

[2019-04-30 09:15] lubojr commented on #293
An enhancement has just been deployed to staging. Used model source files can be seen after clicking the info button while choosing model components in Layer settings. An info button has also been added to the analytics window, which shows the source files of used products.

[2019-05-02 10:00] lmar76 commented on #300
@lubojr fine with me.

[2019-05-02 13:21] pacesm commented on #300
This feature has been already deployed to staging and it is scheduled for the 3.0.0 release. See https://github.com/ESA-VirES/WebClient-Framework/milestone/2

I propose to close the ticket.

[2019-05-06 15:38] lmar76 commented on #293
Tested

[2019-05-06 15:40] lmar76 commented on #300
@pacesm fine with me

[2019-05-06 15:53] #300 closed

[2019-05-06 15:55] pacesm commented on #293
This feature has been already deployed to staging and it is scheduled for the 3.0.0 release. See https://github.com/ESA-VirES/WebClient-Framework/milestone/2

I am closing the ticket.

[2019-05-06 15:55] #293 closed

[2019-05-10 09:15] lmar76 opened #332 "User data upload issues"
1. Select satellite A , MAG-L, 01/04/2017 -> F vs Latitude plot is visualized.

2. Upload SW_OPER_EFIB_LP_1B_20170401T000000_20170401T235959_0501_MDR_EFI_LP.cdf -> nothing happens.

3. Deselect and select again the Upload checkbox in the Layers list -> the analytics view is updated showing two plots:
    - F vs Latitude showing only VirES data. The legend reports "F (upload)" but F is not included

[2019-05-10 10:08] lmar76 commented on #323
In case of data gaps, the issue is still visible. E.g. satellite A, MAG-L data, 01/01/2014-08/01/2014:

![image](https://user-images.githubusercontent.com/20207042/57519716-3eb77600-731c-11e9-823e-e00a013376b9.png)

[2019-05-10 12:13] pacesm opened #333 "AV: line connections - gaps in the source data"
The lines should not be connected in case of gaps in the source data. E.g. satellite A, MAG-L data, 01/01/2014-08/01/2014:

![image](https://user-images.githubusercontent.com/20207042/57519716-3eb77600-731c-11e9-823e-e00a013376b9.png)

Separated from related https://github.com/ESA-VirES/WebClient-Framework/issues/323
Issue reported by @lmar76

[2019-05-10 12:14] pacesm commented on #323
OK, This case a bit more complicated than the gaps introduced by filtering and we will not be able to resolve it immediately.

I moved it to a new ticket https://github.com/ESA-VirES/WebClient-Framework/issues/333

[2019-05-10 13:36] pacesm commented on #332
@lmar76

- Point 2. is a bug and it will be fixed immediately (still in the current 3.0.0 release).

- Point 3. cannot be fixed quickly. The issue is that the client is currently not aware that the variables are not present in the uploaded file and we will need to slightly modify the data fetch interface.

- > It is not possible to change the visualization settings on the globe view for the upload

[2019-05-10 17:37] pacesm commented on #332
@lmar76

[2019-05-22 12:54] pacesm commented on #332
@lmar76
FYI, point 3 was fixed by https://github.com/ESA-VirES/WebClient-Framework/pull/336
already deployed on testing

[2019-05-22 13:07] pacesm commented on #332
I have just realized that the map still shows the color-bars for the non-existent variables. I am sorry. Point 3 has not been fully resolved yet.

[2019-05-22 15:37] santilland commented on #332
The colorbars on the globe now update once the data is received only showing the ones that are actually available. This is deployed on staging now.

[2019-06-10 09:15] lmar76 opened #338 "Error while logging in via Linkedin"
The login via LinkedIn account is not possible: Internal Server Error.

[2019-06-12 10:00] pacesm commented on #338
In confirm the issue.

The debugging reveals that the `LinkedInOAuth2Provider` gets `410 This resource is no longer available under v1 APIs` response from LinkedIn.

The issue might be related to https://github.com/pennersr/django-allauth/issues/2300.

Further investigation is needed.

[2019-06-26 08:22] pacesm commented on #338
I investigated the issue and these are the findings:

1. So far VirES server has been using Linked-In OAuth2 API V1.
2. Linked-In OAuth2 API V1 had been deprecated for some time and it was recently dropped.
3. To support Linked-In we have to switch to Linked-In OAuth2 API V2.
4. The recent django-allauth versions do support OAuth2 API V2 (>=0.39.0) but they dropped support for DJango 1.8 (>=0.35.0

[2019-06-26 09:11] lmar76 commented on #338
Thank you for the investigation. Do you have an estimation on when will be ready the new OAuth server you mentioned at point 3? If we don't have to wait too long I would skip the upgrade described at point 2 and go for the one at point 3.

[2019-06-26 09:22] pacesm commented on #338
FYI, the OAuth server is already deployed on testing and I am currently integrating with the rest of the system. I expect it would be ready by the end of this week.

As far as the Django 1.11 upgrade is concerned, we will need to do it soon or later anyway. The Djnago 1.8 is no longer maintained and its support has been dropped by many libraries. But rather then to Django 1.11 we should plan an up

[2019-06-26 09:34] lmar76 commented on #338
I agree with you. Anyway, could you please add this topic to the agenda for the teleconference of tomorrow?

[2019-06-26 09:34] pacesm commented on #338
I'll do.

[2019-06-26 09:59] lmar76 commented on #332
Ok, I have repeated the test and now only the colorbar (and displayed data) for MAGA LR 1B is displayed on the globe.

Changing the selected product in the layers list to EFIA LP both the EFIA LP 1B and EFIU LP 1B colorbars (and displayed data) are displayed. As far as I understood it is not possible to change the settings of the EFIU LP 1B on the globe.

[2019-06-26 10:10] pacesm commented on #332
@lmar76

You should be able to change setting for the EFIU the same way like for the EFIA because the EFI is a know product type. The limitation applies to custom variables which cannot be assigned to an existing product type.

[2019-06-26 10:16] lmar76 commented on #332
@pacesm sorry, I didn't see that it is possible to select "upload" in the Satellite menu of the layer settings.

[2019-06-27 12:04] lmar76 opened #341 "Rendering error with uploaded data"
This issue was detected on staging platform after uploading user data in CSV format. Unfortunately it happens sometimes and I could find the exact sequence of steps/conditions to reproduce it. However, in these cases, after uploading user data, the map rendering on the globe is interrupted and an error appears in the GUI (see screenshot below).

![Screenshot 2019-06-27 at 10 52 28](https://user-im

[2019-06-27 12:59] pacesm commented on #341
@lmar76 can you send us the CSV via e-mail? Thanks.

[2019-06-27 13:09] lmar76 commented on #341
[ups20170301psec.sec.csv.zip](https://github.com/ESA-VirES/WebClient-Framework/files/3334844/ups20170301psec.sec.csv.zip)

[2019-06-27 14:23] pacesm commented on #341
Thank you.
I checked the data and they are sane.
The error seems like a bug and it needs to be investigated.

[2019-06-28 13:13] pacesm commented on #341
https://github.com/ESA-VirES/VirES-Server/commit/6e94129c5fc28adf5d0364ea4f76e0967d848b16 fixes the issue on the server-side.

a0d4fbf3e6772de7abf1085d5c85f2c54b7bbab9 and 2323a5235fd235944e453b80b829b9cb737ca377 fix the client

The fix has been deployed on staging.

[2019-06-28 14:23] lmar76 commented on #341
Ok, tested.

[2019-06-28 15:13] pacesm commented on #341
The ticked is tracked by the [v3.1.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/4) and can be closed.

[2019-06-28 15:13] #341 closed

[2019-07-08 15:33] lmar76 opened #342 "Error while uploading CSV file"
Error detected on staging platform.

While uploading file (previously downloaded from VirES):
[SW_OPER_MAGA_LR_1B_20170702T000000_20170702T010000_Filtered.ZIP](https://github.com/ESA-VirES/WebClient-Framework/files/3369107/SW_OPER_MAGA_LR_1B_20170702T000000_20170702T010000_Filtered.ZIP) the following error appears:

![image](https://user-images.githubusercontent.com/20207042/60822640-25109e80-a1a6

[2019-07-08 16:31] pacesm commented on #342
The problem is caused by parsing of the `Flags_B` integer flag. The CSV parser parses the values as `int64` but then the CDF converter tries to save them as `CDF_INT8` variable. The mismatch between the integer types then causes the error.

This should be fairly easy to fix. I'll have look on it.

[2019-07-09 08:41] lmar76 commented on #342
According to your explanation, the system converts the uploaded CSV file into CDF before visualize its content. Right?

[2019-07-09 09:23] pacesm commented on #342
Yes, the CSV is first converted to a CDF which is then used by the server.

The server needs to repeatedly read the data and feed them to the client as quickly and possible. The client then does the visualization.
Parsing the text-based CSV file multiple times would be quite inefficient compared to the binary CDF file.

[2019-07-09 17:23] pacesm commented on #342
Fixed and deployed on staging.

[2019-07-10 06:43] pacesm opened #343 "Model residuals not displayed for uploaded data."
When the uploaded data contain the `F` or `B_NEC` variable the server is capable of calculating the model residuals.

These residuals are displayed in the client, when the uploaded product and a regular `MAGx_LR` products are selected, as displayed in this screenshot:

![screen-shot-0185](https://user-images.githubusercontent.com/4050019/60945622-5eebbd00-a2ec-11e9-85ad-747115fd9991.png)

However,

[2019-07-10 15:02] lubojr commented on #343
Should be fixed in 5c607866fd05409eb35fe40f78fd93744de2e67d
Deployed to staging.

[2019-07-11 09:10] pacesm commented on #343
@lmar76 I am not sure if you receive notifications for this ticket.
FYI, @lubojr solved the issue and the fix has been deployed to staging.

[2019-07-11 09:45] lmar76 commented on #343
Tested. It works!

[2019-07-11 09:48] lmar76 commented on #342
Tested, it works!

[2019-07-11 10:15] lmar76 commented on #342
Hello, I have executed a new test uploading a non-modified CSV file product previously downloaded from vires:

[SW_OPER_MAGA_LR_1B_20190101T000000_20190101T010000_Filtered.zip](https://github.com/ESA-VirES/WebClient-Framework/files/3381468/SW_OPER_MAGA_LR_1B_20190101T000000_20190101T010000_Filtered.zip)

While uploading the file, the following error appear:

![image](https://user-images.githubuser

[2019-07-11 12:16] pacesm commented on #342
OK, I'll have look on it.

[2019-07-11 13:19] lmar76 opened #344 "Rendering error in case of filtered data"
Issue detected on v3.0.0 (operational) and v3.1.0 (staging).

Applying a filter on the selected data, the measurement points in the AV are displayed in grey. Selecting one of these points the following error is traced on the globe map and the rendering stops. E.g. satellite A, MAG LR, 04/07/2019:

![image](https://user-images.githubusercontent.com/20207042/61054023-fa655680-a3ee-11e9-8c64-d7716a60

[2019-07-11 15:02] lubojr commented on #344
Thank you for spotting. It should be fixed and deployed to staging.

[2019-07-12 08:08] lmar76 commented on #344
Tested. It works.

[2019-07-12 14:07] pacesm commented on #342
@lmar76
FYI, the problem was cased by mixed integer and float `ASM_Freq_Dev` values.
I reviewed the CSV parsing and made it a bit more robust.
The fix has been deployed to staging.

[2019-07-12 14:10] pacesm commented on #344
The issue has been assigned to the [v3.1.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/4) and can closed.

[2019-07-12 14:10] #344 closed

[2019-07-12 14:11] pacesm commented on #343
The issue has been assigned to the [v3.1.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/4) and can be closed.

[2019-07-12 14:11] #343 closed

[2019-07-15 14:51] lmar76 commented on #342
It works.

[2019-07-15 20:39] pacesm opened #345 "VirES for Swarm - Custom File Format description"
see https://github.com/ESA-VirES/VirES-Server/issues/120

[2019-07-15 20:41] pacesm commented on #342
The issue has been assigned to the [v3.1.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/4) and can be closed.

[2019-07-15 20:41] #342 closed

[2019-07-29 12:30] pacesm opened #346 "Exported client state does not include custom axis and legend labes."
When the client state is exported to an external JSON file, the saved state does not include the custom axes set by the users.

This is quite annoying especially for the y-axis when multiple variables are plotted the labels overlap.

![screen-shot-0187](https://user-images.githubusercontent.com/4050019/62048265-b8b91600-b20c-11e9-835a-dae42c83d137.png)

This can be easily solved by shorter custom

[2019-07-29 18:22] pacesm commented on #346
Fixed in c10b8c22e7cfcc1bb624174f3e2a51809bf4051d

[2019-07-29 18:23] #346 closed

[2019-07-30 09:47] lmar76 opened #347 "Client settings - import/export issues"
After applying the following selection: sat A, EFI data, 03/04/2019, Globe View changed to 2D, the GUI status was the following:

![Screenshot 2019-07-30 at 11 36 06](https://user-images.githubusercontent.com/20207042/62118929-dc3c9900-b2be-11e9-985e-2dba9dc6d67b.png)

The GUI settings have been exported (see attached [20190730T093612_vires_settings.json.zip](https://github.com/ESA-VirES/WebClient

[2019-07-30 11:24] pacesm commented on #347
I confirm the issue. When I tried to load the configuration I got no plot either.

This seems like a bug. The actual JSON does not seem to contain any plot configuration
[code]

[2019-07-30 11:33] pacesm commented on #347
... as far as the Cesium camera is concerned, it seems that its position and orientation is correct but the view port size ("zoom scale") is different.

[2019-07-30 12:40] pacesm opened #348 "Preserving state of the Cesium 2D view."
When using the Cesium 2D view, the view does not seem to be fully controlled by the camera parameter.

 The camera parameters preserve the right camera orientation and the 2D position on the lat./lon. plane but the zoom scale of the view-port is not preserved.

Zoomed 2D view **before saving**
![screen-shot-0188](https://user-images.githubusercontent.com/4050019/62129550-43fede00-b2d7-11e9-89af-65

[2019-07-30 12:47] pacesm commented on #347
@lmar76 FYI, we decided to track the Cesium 2D view issue in a separate ticket https://github.com/ESA-VirES/WebClient-Framework/issues/348.

[2019-07-30 13:30] santilland commented on #347
The JSON is as expected, when some configuration parameters have not been changed from the default they are not added to the exported JSON.
There was an issue where the default selection was not being loaded in this case.
This has been updated and pushed to staging. The provided configuration is working (in the AV view) now. The 2D camera position issue was separated into another ticket as written

[2019-07-31 09:56] santilland commented on #348
For the 2d scene mode we needed to also save camera frustum information, this has been implemented and deployed to staging. Newly created save states will also correctly save the position in 2d scene mode of the camera.

[2019-08-01 12:57] pacesm commented on #348
@lmar76 The issue should be fixed now. Please check.

[2019-08-01 12:57] pacesm commented on #347
@lmar76 The issue should be fixed now. Please check.

[2019-08-05 09:48] lmar76 commented on #347
Concerning the plot visualisation, I confirm that the issue has been fixed. The Globe View is still affected by the same issue (#348)

[2019-08-05 09:50] lmar76 commented on #348
I tried to reload the exported JSON file but the image on the globe view is still different from the original one:

![Screenshot 2019-08-05 at 11 43 32](https://user-images.githubusercontent.com/20207042/62455648-25856080-b777-11e9-8a52-73530a715bb7.png)

[2019-08-05 09:57] santilland commented on #348
Could you show an example image of the "original" and one of the "reloaded" status?
I always get the same map position i exported, i can't reproduce the issue.

[2019-08-05 10:18] pacesm commented on #347
The issue has been assigned to the  [v3.1.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/4) and can be closed.

#348 remains open

[2019-08-05 10:18] #347 closed

[2019-08-05 10:21] pacesm commented on #348
@lmar76 Please, export new a JSON. To preserve the state of the 2D view we had to add additional field to the JSON file which it not in the old file.

I am sorry for this confusion.

[2019-08-05 10:31] lmar76 commented on #348
I have repeated the test. I conform that the "original" view is restored.

Before:

![Screenshot 2019-08-05 at 12 29 22](https://user-images.githubusercontent.com/20207042/62458287-d0e4e400-b77c-11e9-99b2-59c5256e9e4c.png)

After:

![Screenshot 2019-08-05 at 12 30 08](https://user-images.githubusercontent.com/20207042/62458293-d5a99800-b77c-11e9-9236-f977a6f01e12.png)

[2019-08-05 10:51] pacesm commented on #348
The issue has been assigned to the  [v3.1.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/4) and can be closed.

[2019-08-05 10:51] #348 closed

[2019-08-07 08:20] lmar76 opened #350 "Wrong reference to Swarm Plasma data"
In the "About" page, the reference to the Swarm Plasma data is outdated, i.e. it still indicates the old EFIx_PL_1B product (instead of the current EFIx_LP_1B one). Also the hyperlink should be updated.

![image](https://user-images.githubusercontent.com/20207042/62606595-e123cd00-b8fc-11e9-88f7-ea3d27d5b0d1.png)

[2019-08-07 08:40] lmar76 opened #351 "Axis range controls not working"
I realized that in v3.1.0 there are two additional controls (the pencil icons) near the axis in the AV:

![image](https://user-images.githubusercontent.com/20207042/62607935-34971a80-b8ff-11e9-95e5-be95e07aa2e9.png)

I guess that they are needed to update the axis limits but they do not work (i.e. when I click on them, nothing happens).

[2019-08-07 09:53] pacesm commented on #350
Thanks for spotting this out. We'll fix it.

[2019-08-07 10:23] pacesm commented on #351
@lmar76 This feature was actually ported from Aeolus. It should be easy to fix.

[2019-08-07 10:52] pacesm commented on #350
FYI, the same broken link is in the VirES for Swarm front page.

[2019-08-07 12:11] pacesm commented on #350
@lmar76 Fixed and deployed on staging.

[2019-08-07 12:20] pacesm opened #352 "Changes to the magnetic models offered by VirES"
NiO requested following changes to the VirES magnetic models:
- The outdated `SIFM` and `MCO_SHA_2F` shall be removed.
- The no longer needed `CHAOS-6-Combined` model shall be removed.
- The `MF7` and `LCS-1`  crustal field models shall be added.

[2019-08-07 15:34] santilland commented on #351
The dependency to the analytics viewer library was updated, issue should be fixed now in staging

[2019-08-08 08:12] lmar76 commented on #351
It works. Thank you!

[2019-08-08 09:39] pacesm commented on #352
Ready to be merged into staging.

[2019-08-08 10:07] pacesm opened #355 "Imported client state overriden by the default paramters."
It seems like the default product parameters override the saved/imported client state.

E.g., when the following client state

![screen-shot-0191](https://user-images.githubusercontent.com/4050019/62692943-d850fb00-b9d1-11e9-942a-f9eafde06ff0.png)

 gets saved into a JSON file ([B_NEC_residual.zip](https://github.com/ESA-VirES/WebClient-Framework/files/3481048/B_NEC_residual.zip))

it is then load

[2019-08-08 10:22] santilland commented on #355
This seems to happen only when combining with residuals, it might have to do with how the data is loaded when combined with the model at startup, i will have a look when i get a chance

[2019-08-08 14:28] santilland commented on #355
Fix implemented and deployed to staging

[2019-08-08 19:24] pacesm commented on #345
Solved.
The issue has been assigned to the  [v3.1.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/4) and can be closed.

[2019-08-08 19:24] #345 closed

[2019-08-08 19:33] pacesm commented on #355
Thanks. There has been a partial improvement. The `F` subplot is not created anymore.

However, the line style of the `F_res_Model` gets overridden (2px markers connected with lines changed to 8px with no line-connection).

[2019-08-08 20:03] pacesm commented on #351
The issue has been assigned to the  [v3.1.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/4) and can be closed.

[2019-08-08 20:03] #351 closed

[2019-08-08 20:04] pacesm commented on #352
Merged into v3.1.0rc and deployed on staging.

[2019-08-08 20:04] #352 closed

[2019-08-09 07:57] santilland commented on #355
Could you try reexporting your file, it seems the config for the F_res_Model was not saved in your exported file for some reason.
I re-exported it and at least with my export it seems to work fine.
[DS_B_NEC_residual.json.zip](https://github.com/ESA-VirES/WebClient-Framework/files/3485283/DS_B_NEC_residual.json.zip)

[2019-08-09 09:55] pacesm commented on #355
Thanks. Indeed, the saved file did not contain the line style for the `F_res_Model`. Re-saving solved the problem.

The ticket can be closed now.

[2019-08-09 09:55] #355 closed

[2019-08-09 10:40] pacesm opened #356 "AV: hiding/showing filters incorrectly applies unapplied line style changes."
This is a tricky one.

1) start with a view like this
![screen-shot-0194](https://user-images.githubusercontent.com/4050019/62772619-5085f200-baa0-11e9-8d10-22c144b5a559.png)
[F.zip](https://github.com/ESA-VirES/WebClient-Framework/files/3485903/F.zip)

2) Click on the variable properties and change the line style but do not press the apply button. E.g., change symbol to rectangle, color to red, a

[2019-08-09 10:52] pacesm opened #357 "AV: Plotting parameters rendered below the time-slider"
The plotting parameters are rendered below the time-slider which makes impossible to apply the changes.
![screen-shot-0197](https://user-images.githubusercontent.com/4050019/62774019-0272ed80-baa4-11e9-89e5-3dc1c82b24ef.png)

In such case, the filters needs to be displayed to get enough space to make the apply button reachable which leads to #356.

[2019-08-09 14:19] lmar76 commented on #350
Tested. It works.

[2019-08-09 15:00] santilland commented on #357
Z-index for settings panel was increased, now on top of timeslider. Deployed to staging.

[2019-08-09 15:00] santilland commented on #356
The changes in the settings panel were being set (in part) before pressing the apply button, and the apply button was triggering the re-rendering.
Now the changes are saved in an intermediate object and only applied once clicking the apply button.
This fixes the issue, it has been deployed to staging.
 (Make sure to clear browser cache to load latest version of dependency)

[2019-08-09 19:49] pacesm commented on #356
Thank. It works.

[2019-08-09 19:49] #356 closed

[2019-08-09 19:50] pacesm commented on #357
Thanks. It works.

[2019-08-09 19:50] #357 closed

[2019-08-09 19:51] pacesm commented on #350
The issue has been assigned to the [v3.1.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/4) and can be closed.

[2019-08-09 19:51] #350 closed

[2019-08-13 13:21] pacesm opened #359 "AV panel crashes when changing product type"
The version currently deployed on staging contains following regression:

When changing product type the AV panel crashes. To reproduce the issue:

1) reset the client (MAG LR selected, F vs. Latitude displayed by the client)
2) deselect MAG LR
3) select EFI LP

While the globe displays the expected `Ne` variable, the AV panel gets stacked with the old data and becomes unresponsive. This happens f

[2019-08-13 14:06] santilland commented on #359
Issue was introduced with solving of #355 and #347 the decision when defaults are loaded or not was changed and now all the cases should work as expected.
Solution deployed to staging.

[2019-08-13 15:41] pacesm commented on #359
Thanks. I works.

[2019-08-13 15:41] #359 closed

[2019-08-16 12:53] smithara opened #360 "Problematic interpolation on mismatched time series"
I found this problem specifically with the usage of the B_NEC or F measurement - model residuals when also accessing the EFI dataset, but it probably has broader effects...

Using EFI means that the data cadence is set to 0.5-second. B_NEC/F measurements then use a nearest-neighbour interpolation. The model evaluations instead appear to use the higher cadence positions from the EFI dataset. This l

[2019-08-26 09:47] lmar76 opened #361 "AV: Y axis parameters list displayed behind the time bar"
When adding a new plot in the AV, if the plot area is near the time bar (see screenshot) the parameters list is displayed behind it.

![image](https://user-images.githubusercontent.com/20207042/63681886-fd79a200-c7f6-11e9-8cc1-bef7b4284bcb.png)

[2019-08-27 08:03] santilland commented on #361
Z index of the settings panel was changed to be on top of the time slider.
Update was deployed to staging environment.

[2019-08-27 08:09] lmar76 commented on #361
Tested. It works. Thank you!

[2019-08-27 13:18] lmar76 opened #362 "Globe View: IPDxIRR 2F settings"
The Parameter menu in the IPD IRR settings exceeds the the window border (see screenshot)

![image](https://user-images.githubusercontent.com/20207042/63774581-d944c080-c8dd-11e9-80b9-379d4d535ee7.png)

[2019-08-28 06:48] pacesm commented on #362
@lmar76
This was cased by very long titles of the IPDxIRR parameters.

The exceeding selection have been fixed (https://github.com/ESA-VirES/WebClient-Framework/commit/c3b430507c3b44ab726ae77bea5037865cb314f1) and deployed on staging.

[2019-08-28 14:42] lmar76 commented on #362
It works, thank you.

[2019-08-29 09:51] pacesm commented on #362
The issue has been assigned to the [v3.1.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/4) and can be closed.

[2019-08-29 09:51] #362 closed

[2019-08-30 16:01] pacesm commented on #361
The issue has been assigned to the [v3.1.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/4) and can be closed.

[2019-08-30 16:01] #361 closed

[2019-08-30 16:20] pacesm commented on #332
@lmar76 Could you please check this ticket has been fully resolved? Thanks.

[2019-09-06 13:25] pacesm commented on #338
The LinkedIn authentication works on the production machine again.

[2019-09-06 13:25] #338 closed

[2019-09-06 13:36] pacesm opened #365 "Products in the sources list outside of the requested time interval."
When, e.g., data from 2019-08-27 up to 2019-08-28 are requested data from 2019-08-27T00:00:00Z up to 2019-08-27T23:59:59Z will be correctly returned.

The sources list however contains also `SW_OPER_MAGA_LR_1B_20190828T000000_20190828T235959_0505_MDR_MAG_LR`
 (the next day) even though the requested time span does not overlap two days.

[2019-09-06 14:49] lmar76 commented on #332
Yes, thank you!

[2019-09-06 14:55] pacesm commented on #332
Thanks.

[2019-09-06 14:55] #332 closed

[2019-09-15 18:46] smithara commented on #360
[20190915T184235_vires_settings.zip](https://github.com/ESA-VirES/WebClient-Framework/files/3614134/20190915T184235_vires_settings.zip)

VirES workspace state file attached

[2019-09-17 15:44] pacesm opened #367 "Fieldlines not not displayed"
Fieldlines are not displayed in v3.1.0 deployed in production.

The fieldlines are requested from the server, but the parsing of the msgpack response fails with
[code]

We will need to patch production deployment and, please, implement the fix in a branch branched from master.

[2019-09-17 15:54] pacesm opened #368 "Cannot load saved workspace."
Loading of the saved workspace fails during the initialization of the client.
![screen-shot-0203](https://user-images.githubusercontent.com/4050019/65057986-c7ea5380-d973-11e9-878b-0fdf35c5b1db.png)

with
[code]

[MLI_SHA_2CD.json.zip](https://github.com/ESA-VirES/WebClient-Framework/files/3622357/MLI_SHA_2CD.json.zip)

[2019-09-18 06:55] pacesm opened #370 "Orbit number to time range conversion fails."
Orbit number to time range conversion fails in the latest 3.1.0 release.

Quick fix is being produced.

[2019-09-19 08:08] lmar76 commented on #367
Tested, it works. Thank you!

[2019-09-19 08:10] lmar76 commented on #368
Tested. It works.

[2019-09-19 08:18] lmar76 commented on #370
@pacesm sorry, I don't understand this issue. Was it something visible in the GUI? I believe it is fixed now but I don't know how to check it :-)

[2019-09-19 11:31] pacesm commented on #370
@lmar76 This feature has not been (yet?) exposed via Web GUI. But it is available on the server and in the Pyhton client.

This function translates an orbit number or range of orbit numbers for a specified spacecraft into a time-interval. This helps selecting data by orbits.

[2019-09-19 12:46] pacesm commented on #370
@lmar76 Example of time to orbit number and orbit number to time conversion using the Python client ```

[2019-09-19 12:50] #368 closed

[2019-09-19 12:51] #367 closed

[2019-09-19 14:28] lmar76 commented on #370
The ``get_times_for_orbits`` method works fine:

[code]

The ``get_orbit_number`` raises an exception:

[code]

[2019-09-19 16:00] pacesm commented on #370
@lmar76 Unfortunately, this is a bug in the VirES-Python-Client. Please install the latest version from the git repository master branch by
[code]
or use VRE.

[2019-09-20 07:54] lmar76 commented on #370
Tested, it works. Thank you!

[2019-09-23 15:30] lmar76 opened #371 "Reset View changing the zoom level of the globe map"
The Reset View button changes the zoom level of the globe map.

1. Click the "Workspace/Reset" button -> The default GUI status is applied (sat A, MAG LR, F vs latitude, split screen view)

![image](https://user-images.githubusercontent.com/20207042/65439441-733d5180-de27-11e9-80d0-45484dadfa08.png)

2. Click "Globe View" and then "Reset View" -> the zoom level of the globe map is increased.

![im

[2019-10-01 07:18] pacesm opened #372 "Regression: not possible to controll plot settings with "periodic latitudes" Y-axis"
When selecting `QDLatitude_periodic` or `Latitude_periodic` for the y-axis, the label for the variable is not displayed and thus it is not possible to set the plot parameters (e.g., to color the points by another variable).
![screen-shot-0204](https://user-images.githubusercontent.com/4050019/65941828-4216df80-e42c-11e9-958f-d4847186d7f8.png)

This regression has been observed in the currently dep

[2019-10-01 11:17] pacesm commented on #372
Staging fixed in 858a2a02507ee58127dc99cc06e4ba30f5f102db.

Hot-fix branch #373 prepared to fix the production deployment.

[2019-10-01 12:45] lmar76 commented on #372
It works, thank you.

[2019-10-14 13:37] pacesm commented on #372
Already deployed in production.

[2019-10-14 13:37] #372 closed

[2019-11-07 09:04] lmar76 opened #376 "Position of time bar zoom control button"
Issue observed on v3.2.0.

New "buttons" to control the time bar have been introduced i this release. The two buttons controlling the time bar zoom level  ("+", "-") sometimes cover the time values reported below.

![image](https://user-images.githubusercontent.com/20207042/68374684-a1f85880-0145-11ea-9afb-e9e4cbe3c15b.png)

Could you please change their position (e.g. near the left/right arrows a

[2019-11-07 09:32] lubojr commented on #376
That is a good point, thanks. There are several options, which we considered:
1) Show all the control buttons (+-, arrows) only when mouse hovers over TimeSlider area. Location would stay the same.
2) Keep the +- signs center location, but stick them to the top border of TimeSlider.
3) Place them near the left/right of the arrow signs. - I am personally a bit against separating these two buttons b

[2019-11-07 09:41] lmar76 commented on #376
I like option 1. Thank you

[2019-11-07 10:05] lubojr commented on #376
Change has been deployed to staging.

[2019-11-07 10:13] lmar76 commented on #376
Tested, thank you.

[2019-11-07 15:05] pacesm commented on #376
Solved.

[2019-11-07 15:05] #376 closed

[2019-11-07 15:07] pacesm commented on #370
Solved.

[2019-11-07 15:07] #370 closed

[2019-11-07 15:51] pacesm commented on #365
should be fixed by https://github.com/ESA-VirES/VirES-Server/commit/b6842bafeb67805519d0d7cb7561f748ed91ea90

[2019-11-07 16:22] pacesm commented on #365
fix deployed on staging

[2019-11-07 16:54] lubojr commented on #371
A change has been deployed on staging. A camera position in Reset View is now the same as the initial, when app is reset.

[2019-11-07 21:21] pacesm opened #377 "Missing licence and copyrigt note."
As it seems, the VirES client has no license or copyright note.

[2019-11-08 08:12] santilland commented on #377
In the about at the bottom there are links to esa data terms and service terms but one has to scroll down, maybe another position might be easier to find?

[2019-11-08 12:34] lmar76 commented on #365
I have repeated the test using the Download Manager:
- MAGA_LR_1B
- Dates: 2019-08-27T00:00:00Z - 2019-08-28T00:00:00Z

Downloaded file is: SW_OPER_MAGA_LR_1B_20190827T000000_20190828T000000_Filtered and does not contain the measurements at 2019-08-28T00:00:00Z 9as expected).

The sources list contains only SW_OPER_MAGA_LR_1B_20190827T000000_20190827T235959_0505_MDR_MAG_LR as expected.

[2019-11-08 13:09] pacesm commented on #365
solved

[2019-11-08 13:09] #365 closed

[2019-11-08 13:41] pacesm commented on #371
solved in https://github.com/ESA-VirES/WebClient-Framework/commit/c602f3380c052a31f8924b1afd490c032813c438

[2019-11-11 14:33] lmar76 commented on #371
Tested. Thank you.

[2019-11-11 14:40] lmar76 opened #378 "Changing from 2D or Columbus view back to Globe view updates the zoom level of the globe map"
1. Click the "Workspace/Reset" button -> The default GUI status is applied (sat A, MAG LR, F vs latitude, split screen view)

![image](https://user-images.githubusercontent.com/20207042/68595309-7ce34d00-0499-11ea-97f3-94c25e15ddd7.png)

2. Change Globe View to 2D view or Columbus and then, change back to Globe View -> the zoom level of the globe map has changed.

![image](https://user-images.gith

[2019-11-12 07:25] pacesm commented on #371
solved

[2019-11-12 07:25] #371 closed

[2019-11-12 09:13] lubojr commented on #378
Change has been deployed to staging.

[2019-11-12 09:26] lmar76 commented on #378
Tested. Thank you.

[2019-11-12 12:46] pacesm commented on #378
solved

[2019-11-12 12:46] #378 closed

[2019-12-04 11:08] lmar76 opened #381 "Download Manager: incomplete model indication"
Issue detected on operational platform.

MAGA LR data and CHAOS 7 core + crust models have been selected in the layers list.
In the Download Manager, the selected product and models are correctly visualised (see screenshot):

![image](https://user-images.githubusercontent.com/20207042/70137572-832aaa80-168e-11ea-8569-0d5b57da9995.png)

In the process details, the model's indications are incomplete

[2019-12-04 13:18] pacesm commented on #381
In this case the the empty parentheses in the requested model expression
[code]
mean that the model was requested with the default degree range of the SH coefficients.

**WPS request sent to the server**
[code]

What you see in the process inputs echoed in the WPS response:

**WPS response retrieved from the server**
[code]
We will check where to add the model degrees to make them appear in the WP

[2019-12-05 16:42] pacesm commented on #381
@lmar76 Please, check staging. The degree range should be now displayed also for the defaults.
Please, note that these will be visible only in new download jobs. Already completed jobs cannot be changed.

[2019-12-05 16:46] lmar76 commented on #381
Tested. It works. Thank you.

[2019-12-06 14:33] pacesm commented on #381
The issue is tracked by https://github.com/ESA-VirES/WebClient-Framework/milestone/6 and can be closed.

[2019-12-06 14:33] #381 closed

[2019-12-06 15:35] pacesm commented on #377
Solved by c0c6d56654867d4e33e45c7002faac5c892c73f6

[2019-12-06 15:35] #377 closed

[2020-01-21 08:58] pacesm opened #385 "Download request matching no data returns an error."
A download request matching no data an integer division error.
[code]
The expected behavior is to return an empty dataset.

[2020-01-21 10:21] pacesm commented on #385
Fixed in https://github.com/ESA-VirES/VirES-Server/commit/99ba9307062f99b94d1709f278f61a0023b5cf5e

[2020-01-21 10:29] pacesm commented on #385
The fix has been deployed on staging.

[2020-01-21 14:15] lmar76 commented on #385
Tested. Thank you

[2020-01-21 14:39] pacesm commented on #385
The issue is tracked by https://github.com/ESA-VirES/WebClient-Framework/milestone/7 and can be closed.

[2020-01-21 14:39] #385 closed

[2020-01-22 09:53] lmar76 opened #386 "Misleading message while the AV is being updated"
After resetting the workspace or changing product or time selection the following message is displayed in the analytics view: "_No data available for the current selection_", even if data for the given product is available (i.e. availability is displayed on the time bar), e.g.:

![Screenshot 2020-01-22 at 10 41 16](https://user-images.githubusercontent.com/20207042/72883517-bab7e980-3d04-11ea-9add

[2020-01-22 16:48] lmar76 opened #387 "Model color scale not visible in the globe map"
Even if the "Legend" checkbox in the model's properties window is checked, the model color scale is not visible in the globe map.

![Screenshot 2020-01-22 at 17 44 41](https://user-images.githubusercontent.com/20207042/72914660-4b132000-3d3f-11ea-8dc0-9921e6c1d05b.png)

[2020-01-23 12:35] lubojr commented on #387
Thank you for reporting. It was fixed in #388 and deployed to staging.

[2020-01-23 12:44] lmar76 commented on #387
Tested. Thank you.

[2020-01-23 14:19] lubojr commented on #386
@lmar76 Thank you for reporting. The initial text of panel on app load is changed to Loading data. After that, it always either shows "No data available for current selection" or the AV Panel with Charts. Change happened in #389 and was deployed to staging. Would the current state be okay for you?

[2020-01-23 14:27] lmar76 commented on #386
@lubojr Yes, thank you!

[2020-02-12 20:32] pacesm opened #390 "CDF file upload with filename without the .cdf file extension."
The `spacepy.pycdf ` library cannot open CDF files without the `.cdf` file extension.

The CDF file upload should check the `.cdf` file extension and add it if missing.

See the original issue https://github.com/ESA-VirES/VirES-Python-Client/issues/47 reported by @lmar76

[2020-02-13 09:00] lmar76 commented on #390
I tried also specifying a file name with `.cdf` extension but i got the same result:

[code]
I can see only the product previously uploaded from the web interface.

[2020-02-13 14:31] pacesm commented on #390
@lmar76 I tried it my self and I can see the uploaded products.

I see two possible reasons why you cannot see the upload:
1) The Web client is not notified about the newly uploaded file. Try to reload the client to see if that changes.

2) Your access token was generated for a different account then you are actually using. In the logs I can see the files were uploaded by user `demo`. Are you logg

[2020-02-17 12:26] pacesm commented on #390
Further testing shows that the server handles CDF files without .CDF extension correctly and no change is needed.

In case of no further objection, the ticket can be closed.

[2020-02-17 12:35] pacesm opened #391 "IBIxTMS_2F not displayed in the time-slider"
Due to a server-side error (WPS `retrive_bubble_index` process) the periods of the elevated bubble index are not displayed in the time-slider.

Observed on v.3.1.3 production deployment.

FAO @lmar76

[2020-02-17 12:38] pacesm commented on #391
Fixed in https://github.com/ESA-VirES/VirES-Server/commit/29127cf5e4080608c58c937dd6aed6ce47339dcb

[2020-02-17 13:36] lmar76 commented on #390
Tested again. t works, thank you!

[2020-02-17 14:24] #390 closed

[2020-02-17 14:25] pacesm commented on #391
The patch has been deployed to staging.

![image](https://user-images.githubusercontent.com/4050019/74662192-b6fb7380-5199-11ea-81eb-f98e7e49ab78.png)

[2020-02-17 14:42] lmar76 commented on #391
Tested

[2020-03-06 14:38] pacesm opened #392 "Error when trying to download TEC data in CSV format"
Download request with following parameters:
[code]
ends with the following error
[code]

The download in CDF format passes without any error.

observed on v3.1.3 production deployment

FAO @lmar76

[2020-03-06 16:04] pacesm commented on #392
Fixed in https://github.com/ESA-VirES/VirES-Server/commit/62e58895ba089b11c4dffc93f6421c617d6fef57

Fix is deployed on staging

[2020-03-09 08:57] lmar76 commented on #392
Tested. It works

[2020-03-09 13:28] pacesm commented on #391
The fix has been already deployed in production on 2020-02-18.

[2020-03-09 17:36] pacesm commented on #392
The fix has been deployed in production.

[2020-03-09 17:36] #392 closed

[2020-03-18 10:06] lmar76 opened #393 "Plot label overlapping date selection widget"
1. Select: MAG_LR, EFI, IBI -> three plots are displayed in the AV
2. Collapse filters panel -> Filter panel disappears
3. Click the "calendar" button on the time slider -> date selection widget appears "behind" the plot label.

![image](https://user-images.githubusercontent.com/20207042/76949194-7ada4080-6908-11ea-8bf1-a28a33afcead.png)

![image](https://user-images.githubusercontent.com/20207042

[2020-03-18 11:06] lubojr commented on #393
A fix of the calendar widget z-index has been deployed to staging.

[2020-03-18 11:22] lmar76 commented on #391
It seems there is a regression on v3.2.0 (see screenshots below of 31/12/2015 A+B).

Operational (v3.1.3):

![image](https://user-images.githubusercontent.com/20207042/76955675-e75a3d00-6912-11ea-9fa0-45b6158393f1.png)

Staging (v3.2.0):

![image](https://user-images.githubusercontent.com/20207042/76955718-f80ab300-6912-11ea-8014-57de74a73281.png)

[2020-03-18 11:59] pacesm commented on #391
I confirm the regression. I'll take care of the fix.

[2020-03-18 12:18] pacesm commented on #387
This issue is tracked by the [v3.2.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/8) and can be closed.

[2020-03-18 12:18] #387 closed

[2020-03-18 12:19] pacesm commented on #386
This issue is tracked by the [v3.2.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/8) and can be closed.

[2020-03-18 12:19] #386 closed

[2020-03-18 12:25] pacesm commented on #391
Fixed in https://github.com/ESA-VirES/VirES-Server/commit/0ce384087e76694437415d2ec053ac7af6f8bfd0.

The fix has been deployed on staging.

[2020-03-18 14:43] lmar76 commented on #391
Tested, it works.

[2020-03-18 14:43] lmar76 commented on #393
Tested, it works.

[2020-03-18 15:14] pacesm commented on #393
This issue is tracked by the [v3.2.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/8) and can be closed.

[2020-03-18 15:14] #393 closed

[2020-03-18 15:14] pacesm commented on #391
This issue is tracked by the [v3.2.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/8) and can be closed.

[2020-03-18 15:14] #391 closed

[2020-03-30 14:58] lmar76 opened #395 "X-axis dropdown menu "behind" time slider"
Issue detected on operational platform.

In some cases (see screenshot) the X-axis menu with the list of parameters appears "behind" the time slider and it is difficult to select the desired parameter.

<img width="873" alt="Screenshot 2020-03-30 at 16 55 44" src="https://user-images.githubusercontent.com/20207042/77927409-7bc78680-72a7-11ea-8a02-e071d663f2dd.png">

[2020-03-31 06:54] pacesm commented on #395
The fix has been deployed to staging.
The production deployment will be fixed with the v3.2.0 release.

[2020-03-31 09:59] lmar76 commented on #275
Tested again. It works.

[2020-03-31 10:07] pacesm commented on #275
This issue is tracked by the [v3.2.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/8) and can be closed.

[2020-03-31 10:07] #275 closed

[2020-04-01 16:00] lmar76 opened #396 "Can't add Sun position variables to custom product"
Issue observed on operational platform.

It is not possible to select Sun position variables in the custom product to be downloaded.

[2020-04-01 16:06] pacesm commented on #396
Fixed in https://github.com/ESA-VirES/WebClient-Framework/commit/1d3655048441d374fdc8beea633049c3761801fd

The fix has been already deployed on staging.

[2020-04-01 17:41] lmar76 commented on #396
Tested. It works, thank you.

[2020-04-01 17:41] lmar76 commented on #395
Tested. It works, thank you.

[2020-04-01 18:21] pacesm commented on #396
This issue is tracked by the [v3.2.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/8) and can be closed.

[2020-04-01 18:21] #396 closed

[2020-04-01 18:22] pacesm commented on #395
This issue is tracked by the [v3.2.0 milestone](https://github.com/ESA-VirES/WebClient-Framework/milestone/8) and can be closed.

[2020-04-01 18:22] #395 closed

[2020-05-27 09:31] pacesm opened #400 "AV: secondary x-axis configuration is not preserved"
When the x-axis is set to `Timestamp`, AV panel allows setting addition variable (e.g., `QDLat`) as a secondary x-axis:

![image](https://user-images.githubusercontent.com/4050019/83001518-28a25380-a00c-11ea-97fd-723c01e52f7a.png)

This secondary x-axis configuration is not preserved when re-loading the client nor saved in the exported JSON.

Observed on both production V3.2.0 and staging V3.3.0-r

[2020-05-28 10:18] pacesm commented on #360
Unfortunately, it is. The web client, as it is designed, can not handle datasets of one spacecraft with different sampling. But we could try to mitigate these artifacts.

This actually how the oscillation is created ...

![screen-shot-0226](https://user-images.githubusercontent.com/4050019/83128555-e1839380-a0db-11ea-8c9f-032d11581677.png)

The MAGx_LR data sampled 1Hz and and aligned to the edge

[2020-06-24 07:46] pacesm opened #403 "AV: saving of color-mapped plots is not working"
Saving of the web GUI (workspace) with color-mapped variables does not work as expected.

Workspace before export:
![screen-shot-0231](https://user-images.githubusercontent.com/4050019/85516467-82dc0780-b5fe-11ea-81b1-c1051130ffa4.png)

Workspace after import:
![screen-shot-0232](https://user-images.githubusercontent.com/4050019/85516891-fed64f80-b5fe-11ea-80cd-b8b193013f54.png)

Identified issues

[2020-06-24 16:14] santilland commented on #400
Issue should be solved in latest commit 032be07b27866e57ae2fb17ad4212cd3534a8251

[2020-06-24 17:01] santilland commented on #403
Colorscale should be saved now in latest commit e360c88515dc5857b1a19e2379c8e8685eb4e795
Saving of scale extent should be evaluated as for which exact cases the extent is saved, e.g. per parameter?
How do we handle multi y axis parameters? When and how should a saved scale extent be reset?

[2020-06-24 17:53] pacesm commented on #403
The extent is a property of the Y-axis (as it is already now, you can scroll or zoom the axis by mouse or click on the pen to change the range).
In case of two Y-axes each of them should be treated independently (as it is already now, you can scroll or zoom each axis by mouse or click on the pen to change the range).
The color-bar is just another Y-axis.

I think there are two things to consider.

[2020-08-13 09:55] pacesm opened #405 "Broken server-side interpolation of the EEF data."
When selecting MAG and EEF data the server responds with following error:

[code]
![image](https://user-images.githubusercontent.com/4050019/90120566-2b832980-dd5b-11ea-939d-700b3761cef6.png)

This is a regression introduces in v3.3.0.
Observed on the production instance.
Already fixed on staging.

FAO @lmar76

[2020-08-14 08:58] pacesm opened #406 "EEFxTMS_2F locations and time-stamp offset"
The locations of the EEF data points differ when the only EEFxTMP_2F products are selected

![image](https://user-images.githubusercontent.com/4050019/90228415-7a41c980-de16-11ea-95cf-5f31bdc45d2b.png)

 or it is selected with another product (e.g., MAGx_LR_1B).

![image](https://user-images.githubusercontent.com/4050019/90228467-8fb6f380-de16-11ea-847b-8cfecbacbed3.png)

While in the first case t

[2020-08-26 14:26] pacesm opened #407 "Cesium widget - high CPU load"
Consider reducing the heavy CPU load of the idle Cesium widget.

For more details see: https://cesium.com/blog/2018/01/24/cesium-scene-rendering-performance/

[2020-08-31 10:01] pacesm opened #409 "ruby-compass no longer maintained"
The Grunt `ruby-compass` build dependency is no longer maintained and it has been removed from recent Ubuntu releases.

Please consider replacement with alternative SASS/SCSS compiler.

[2020-08-31 11:09] pacesm commented on #406
New version 0203 of the EEFxTMS_2F fixes the issue.

![image](https://user-images.githubusercontent.com/4050019/91714049-388d7e80-eb8b-11ea-97af-6299952d2ce5.png)

[2020-08-31 11:09] #406 closed

[2020-09-11 14:10] pacesm opened #410 "Image export clears the AV panel"
Exporting the AV panel as an image (:floppy_disk:) leaves the AV panel blank.

Before:
![image](https://user-images.githubusercontent.com/4050019/92934649-0829c800-f448-11ea-8316-55ce374635df.png)

After:
![image](https://user-images.githubusercontent.com/4050019/92934826-40310b00-f448-11ea-8ff0-1bd4fb992959.png)

Redrawing forced, e.g., by window re-size or view change fixes the view. It seems li

[2020-09-22 08:06] lmar76 opened #411 "AEBS "boundary" products not included in the list of source products"
The AEBS boundary products (i.e. AOBxFAC, AEJxPBL, and AEJxPBS) are not included in the list of source products displayed in the AV and their availability is not displayed in the tome slider (i.e. availability). E.g.:

- FAC/FAC AOB layer:

<img width="1552" alt="image" src="https://user-images.githubusercontent.com/20207042/93857327-b50f0b00-fcba-11ea-8c37-382071b42dbb.png">

- AEJ LPL/PBL

<img

[2020-09-24 09:11] smithara opened #412 "Problem loading LPL & MAG residuals together"
Detected on https://staging.vires.services/

What I tried:
1. Enable `Auroral Electrojet - LC`
2. Enable `Magnetic data`
3. Enable `Magnetic Model`
4. Change Mag data settings to display `Residuals to Model`

![image](https://user-images.githubusercontent.com/6398449/94124064-79a44600-fe4c-11ea-8d0c-36c45086df9c.png)

The `LPL` line disappears (though boundaries remain) and the loading widget is s

[2020-09-28 13:18] #405 closed

[2020-09-28 13:43] pacesm commented on #411
The fix has been deployed on testing.

[2020-09-28 15:54] pacesm commented on #412
This regression is not specific to MAG/LPL combination.

[2020-09-28 16:14] pacesm commented on #412
The fix has been deployed to staging.

![image](https://user-images.githubusercontent.com/4050019/94458253-fc633300-01b5-11eb-8ee4-a1fd4e537d9f.png)

[2020-09-28 17:18] pacesm opened #413 "Re-loaded client does not display model residuals."
When the magnetic residual are displayed on the globe

![image](https://user-images.githubusercontent.com/4050019/94464033-2ae50c00-01be-11eb-88ef-b15b280f75a4.png)

and the client is reloaded the display falls back to the scalar magnetic intensity

![image](https://user-images.githubusercontent.com/4050019/94464203-74cdf200-01be-11eb-81ab-ae7d4531c6a7.png)

even when the stored client state inclu

[2020-09-29 08:42] pacesm commented on #413
The fix has been deployed on staging.

The production will be fixed with the upcoming V3.4.0 release.

[2020-09-29 09:06] pacesm opened #414 "AEBS: set the default LPL and LPS height to 110km"
The default LPL/PBL and LPS/PBS default height should be 110km for both products.
Right now LPS/PBS is displayed 110km above ground and LPL/PBL 450km.

[2020-09-29 09:08] pacesm opened #415 "AEBS: make polar and equatorial boundaries distinguishable"
E.g., by using different symbols or symbol colors.

[2020-09-29 09:39] lmar76 commented on #411
Tested. I forgot to mention that the "boundary" product is not even visible on the time slider. Do I have to create a separate issue?

[2020-09-29 09:43] lmar76 commented on #412
Tested.

[2020-09-29 09:52] lmar76 commented on #413
Tested.

[2020-09-29 10:02] pacesm commented on #411
If you think this is an issue then I prefer to track it in a separate ticket. Thanks.

[2020-09-29 10:18] lmar76 opened #416 "AEBS "boundary" products not displayed on the time slider"
The AEBS "boundary" products (product name and temporal availability) are not displayed on the time slider.

- Auroral Electrojets - LC: only LPL product is displayed:

<img width="613" alt="image" src="https://user-images.githubusercontent.com/20207042/94545965-87dbd300-024d-11eb-9c84-35bc36a7b813.png">

- Auroral Electrojects -  SECS: only LPS product is displayed:

<img width="613" alt="image"

[2020-09-29 10:27] smithara opened #417 "AEBS: Loss of LPL data when accessing LPL & LPS together - due to interpolation to LPS availability"
When selecting both LPL & LPS data, the LPL data disappears when there is no availability of LPS. This is due to the higher cadence LPS product acting as the master to which LPL is interpolated.

![image](https://user-images.githubusercontent.com/6398449/94545064-f320a780-0243-11eb-8023-2854bcb252bd.png)
(here the LPL data should continue across the polar gap)

The problem can be worked around by

[2020-09-29 10:40] smithara commented on #412
Looks good!

[2020-09-29 10:40] #412 closed

[2020-09-29 11:22] smithara commented on #360
It looks better now with the new linear interpolation.

There's likely some issues elsewhere with the interpolation behaviour. At the very least it is moving data points from how they are in the original data, which could cause problems when downloading the data for further processing. Maybe we should consider some health warning about selecting multiple datasets - that there is this merging behav

[2020-09-29 11:22] #360 closed

[2020-09-29 11:30] smithara commented on #413
Looks good! @pacesm you can close this

[2020-09-29 16:28] pacesm opened #418 "Inform users about the data interpolation when mutiple datasets are selected."
https://github.com/ESA-VirES/WebClient-Framework/issues/360 by @smithara

[2020-09-29 16:29] pacesm commented on #360
I agree.

[2020-09-29 16:30] #411 closed

[2020-09-29 16:30] #413 closed

[2020-09-29 16:41] pacesm commented on #417
This issue is caused the server-side data interpolation and the way the data are requested by the web client.

We cannot fix this issue easily.

[2020-09-30 08:15] lmar76 commented on #414
Is it possible to test it? This parameter is not visible in the GUI.

[2020-09-30 09:06] pacesm commented on #414
It is just a visualization parameter and you can test it only visually. Long story short, the display should like
![image](https://user-images.githubusercontent.com/4050019/94662459-b5398700-0308-11eb-928b-e8644aaba7e7.png)
instead of
![image](https://user-images.githubusercontent.com/4050019/94662657-fe89d680-0308-11eb-9299-d2d5b81ad29d.png)

When you show LPS and LPL at the same time an offset h

[2020-09-30 12:42] pacesm commented on #414
The fix has been deployed on staging.

[2020-09-30 15:53] pacesm commented on #400
Solved.

[2020-09-30 16:09] pacesm commented on #410
The fix has been deployed on staging.

FAO @lmar76

[2020-09-30 16:10] pacesm commented on #400
FYI @lmar76

[2020-09-30 16:16] pacesm commented on #403
Fix deployed on staging. Production will be fixed with the v3.4.0 release.

FYI @lmar76

[2020-09-30 16:17] pacesm commented on #400
Fix deployed on staging. Production will be fixed with the v3.4.0 release.

FYI @lmar76

[2020-10-01 08:11] lmar76 commented on #414
Tested. It works.

[2020-10-01 08:12] lmar76 commented on #415
Tested. It works!

[2020-10-01 08:16] lmar76 commented on #410
Tested. It works.

[2020-10-01 08:30] #414 closed

[2020-10-01 08:31] #415 closed

[2020-10-01 08:32] #410 closed

[2020-10-01 16:10] pacesm commented on #416
@lmar76 I looked at this issue and the implementation is actually trickier than it might seem.
Apart from the display of the second product, we need to also solve clipping of the time extent of the yearly boundary product so that product id is displayed within the current time window.

I propose we defer implementation of this feature after V3.4.0 release.

[2020-10-02 08:27] lmar76 commented on #416
@pacesm ok

[2020-10-02 14:43] lmar76 commented on #400
Tested. It works.

[2020-10-02 14:55] lmar76 commented on #403
I repeated the test with MAGA_LR data, setting X-axis to Longitude, Y-axis to Latitude and 3rd variable to F, colorscale "jet", colour range: 10000-60000 (see screenshot):

<img width="1434" alt="image" src="https://user-images.githubusercontent.com/20207042/94937190-8a4d5f80-04cf-11eb-9548-7c9b65a7a7da.png">

I have exported the AV settings (see [20201002T144606_vires_settings.json.zip](https://g

[2020-10-02 14:55] #400 closed

[2020-10-02 15:02] pacesm commented on #403
@santilland, would it be possible to treat the color map axis the same way like the Y-axis, i.e., to store the extent in the saved JSON and allow locking of the range extent?

[2020-10-02 15:04] lmar76 opened #420 "Save scatterplot to image - downloaded file without extension"
I tried to save a scatterplot as an image:

<img width="1434" alt="image" src="https://user-images.githubusercontent.com/20207042/94938304-f381a280-04d0-11eb-9c9b-46ffc943964c.png">

After clicking the OK button, the file is downloaded but it does not contain the extension, i.e.: VirES_for_Swarm_20201002 instead of VirES_for_Swarm_20201002.png. The same issue occurs selecting jpeg format.

I have

[2020-10-05 11:07] pacesm commented on #403
This commit fixes the color-map extent saving: 07a9ff3e3594525cbba897671768d5507fae3ad6

The fix has been deployed on staging.

[2020-10-05 11:25] lmar76 commented on #403
It works. Thank you

[2020-10-05 11:48] #403 closed

[2020-10-05 11:51] santilland commented on #420
Solved in commit 5c2f5b64cc018491c3fd19b14593efe79ee82909
Deployed to staging

[2020-10-05 12:13] lmar76 commented on #420
Tested. It works. Thank you!

[2020-10-05 13:57] #420 closed

[2020-10-06 09:45] lmar76 opened #422 "Add tooltips to axis controls in the AV (enhancement)"
There are two buttons near the axis in the AV (see screenshot below). The usage of "pencil" is straightforward but the usage of "lock" is not. Could it be possible to add tooltips on the buttons briefly explaining their usage?

<img width="360" alt="Screenshot 2020-10-06 at 11 40 06" src="https://user-images.githubusercontent.com/20207042/95185302-d1d23500-07c8-11eb-8753-c6b3a0f61236.png">

[2020-10-06 09:55] lmar76 opened #423 "Kp, Dst, dDst, F10 indices not available for filtering in the Download panel"
It is possible to select Kp, Dst, dDst, F10 values for filtering data to be downloaded by selecting their values in the AV's filtering panel and clicking the Download button (see screenshot).

<img width="766" alt="Screenshot 2020-10-06 at 11 49 13" src="https://user-images.githubusercontent.com/20207042/95186765-a0f2ff80-07ca-11eb-8ccf-7b690c0eccc8.png">

Howevere, it is not possible to select th

[2020-10-06 10:16] pacesm commented on #422
The purpose of the lock is to "lock" the range to the current extent and keep it fixed even when a different time selection is made.

We can look into this and see if a tool tip can be easily added.

[2020-10-06 13:25] pacesm commented on #423
The fix has been deployed on staging.

[2020-10-06 16:53] lmar76 commented on #423
It works. Thank you

[2020-10-07 13:49] smithara opened #424 "Some settings are not included by the workspace export/import"
In particular, the Magnetic Model Settings for visualisation on the globe:

- the colour scale min/max values
- the evaluation height

I have not investigated deeper and I expect there are other things

[2020-10-13 08:46] pacesm opened #425 "VirES client fails to load in MS Edge 44.x browser"
This issue is caused by use of regex named groups which are not supported by this browser.

[2020-10-13 09:04] pacesm commented on #425
The fix has been deployed to staging.

FAO @lmar76

[2020-10-13 10:18] lmar76 commented on #425
Tested, it works. Thank you.

[2020-10-13 14:00] #423 closed

[2020-12-14 10:32] pacesm opened #427 "Matplotlib: deprecated global colormaps dictionary"
see https://github.com/ESA-VirES/VirES-Server/issues/159

[2020-12-22 18:03] pacesm commented on #422
Tooltips were added to the AV panel (0f27ecadde633c599a72a9a1bf28152137049f56)

![image](https://user-images.githubusercontent.com/4050019/102918920-2d3ac780-4488-11eb-81eb-686df8bc1a52.png)

Deployed on staging.

[2020-12-22 20:09] pacesm opened #431 "Download process details don't show custom sampling."
The download process parameters view does not show the custom data sampling:

![image](https://user-images.githubusercontent.com/4050019/102928754-94ad4300-4499-11eb-9140-a5cd712de85d.png)

even though it has been selected

![image](https://user-images.githubusercontent.com/4050019/102928895-db9b3880-4499-11eb-99fd-3b498d0a61fd.png)

[2020-12-28 13:52] pacesm opened #432 "AV: colormaps displays NaN values"
The 3rd variable color-mapping in the AV 2D plots maps NaN values to the lower bound of the color range:

![image](https://user-images.githubusercontent.com/4050019/103218028-432e0980-491a-11eb-9c50-269cd7f082cd.png)

This is incorrect and misleading. Nothing (or fully transparent point) should be displayed for the mapped NaN values.

Saved workspace: [colormap_with_NaN_values.json.gz](https://git

[2021-01-12 10:50] santilland commented on #432
Added check for NaN when calculating color, solved in staging

[2021-01-12 10:50] #432 closed

[2021-01-19 17:31] pacesm commented on #427
solved in https://github.com/ESA-VirES/VirES-Server/commit/fdda68b11808e8571e6a99019457d6f238542f07

the fix has been deployed on staging

[2021-01-19 17:31] #427 closed

[2021-01-19 17:34] pacesm commented on #422
@lmar76,  could you please check the feature so that we can close the ticket? Thanks.

[2021-01-20 13:03] santilland commented on #416
An implementation was introduced for this and deployed on staging. When activating a LPL or LPS product the availability of the corresponding PBL and PBS products will be shown in the timeline in the same color as the product.

[2021-01-21 10:56] pacesm commented on #416
The boundary products are now shown also for the FAC_AOB products. I consider the ticket resolved.

@lmar76 Please check whether we can close the ticket.

[2021-01-21 14:44] lmar76 commented on #416
Tested. Please, close the ticket.

[2021-01-21 14:44] #416 closed

[2021-01-21 14:46] lmar76 commented on #422
Tested. Please, close the ticket.

[2021-01-21 14:46] #422 closed

[2021-02-12 09:26] pacesm commented on #15
Since V3.0.0 2019-10-05 (see [changelog](https://vires.services/changelog)) VirES for Swarm provides full traceability of the source products both in the web-GUI and API/downloads. It is therefore possible to check the which versions of the products are being used but not time-stamps are exposed to the users.

As far as the synchronization status is concerned, the VirES server has currently no int

[2021-02-12 09:28] pacesm commented on #16
solved by use of msgpack

[2021-02-12 09:28] #16 closed

[2021-02-12 09:29] pacesm commented on #21
@santilland Is this still relevant?

[2021-02-12 09:30] pacesm commented on #26
@santilland Is this still relevant?

[2021-02-12 09:38] santilland commented on #21
All in all i would say we can close this for now.
Still, I think Stephan's point is valid, in the sense that it would might be interesting to look at designing the timeslider differently, not as a "floating" element but more as a panel at the bottom, maybe even with the option to hide it, if wanted. But that might be a topic to be done as part of the D3.Timeslider library in general and not necess

[2021-02-12 09:41] pacesm commented on #27
@santilland Is this still relevant?

[2021-02-12 09:45] santilland commented on #26
I would also say we could close this. Some points are no longer relevant as the layers panel changed, and some points were already implemented.
The one thing that could be extracted as possible enhancement is adding of tooltips, but not sure how you would like to keep track of possible enhancements, maybe one ticket could be created with a checkbox list with minor enhancements?

[2021-02-12 09:46] pacesm commented on #85
related to https://github.com/ESA-VirES/WebClient-Framework/issues/312

The *Kp* are now displayed as decimals between 0 and 9.

[2021-02-12 09:46] #85 closed

[2021-02-12 09:55] santilland commented on #27
Errors still appear in console log, but again, it is because firefox expects them to be xml in this case and they are not, it does not have any negative effect apart from cluttering the console log, i think it has some relevance.

[2021-02-12 09:57] lubojr commented on #21
Allowing to disable/hide the timeslider completely on demand is going to be done in this Quarter for mundi (for reference) https://seeed.fr.atos.net/seeed-project/eox-cws/-/issues/52

I will probably do it outside of D3.Timeslider component though

[2021-02-12 09:59] pacesm commented on #52
**Update:**
All expect but first point seem to be resolved.

The fact that the options are not synchronized for all spacecraft is confusing and setting the same product parameters for individual spacecraft is unintuitive. (E.g., I switch from A to B. Why the hell the globe shows something else than I've just set? Oh crap, I need to set the same again for B!)

Is there actually a case when having s

[2021-02-12 10:03] santilland commented on #21
Yea, that also makes sense as the timeslider just lives in a container div, and we can do with that whatever we want depending on the project.
So, i guess the question is, if we want to change the style for VirES.

[2021-02-12 11:34] pacesm commented on #21
Yes, the point is valid but I see no pressure to revamp the visual style of the client. I'm closing the ticket for now.

[2021-02-12 11:34] #21 closed

[2021-02-12 11:36] pacesm commented on #26
ok, let's close it then.

[2021-02-12 11:36] #26 closed

[2021-02-12 11:41] pacesm commented on #27
Yes cluttering the console log is annoying but if it does no harm I prefer to close it.

We try to support different browses on best effort basis and and, IMO, this is below the threshold.

[2021-02-12 11:41] #27 closed

[2021-02-12 13:43] pacesm commented on #33
Considering resolved.

[2021-02-12 13:43] #33 closed

[2021-02-12 13:45] pacesm commented on #36
IMO, this is still relevant and should be addressed.

[2021-02-12 13:51] pacesm commented on #40
Decided not to be implemented in VirES-DEMPO-RFW-022.

[2021-02-12 13:51] #40 closed

[2021-02-12 13:53] pacesm commented on #46
@santilland Is this still relevant with the multiple plots sharing the same x-axis?

[2021-02-12 13:54] pacesm commented on #31
@santilland Is this still relevant?

[2021-02-12 14:12] pacesm commented on #57
Tracing the Cesium ticket, this issue seems to be fixed in v.1.22 (June 2016). The VirES client is apparently still using older v1.20 (https://github.com/ESA-VirES/WebClient-Framework/blob/ad6db0965f5d5ec112a564ccbe03e250a5549557/bower.json#L24).

[2021-02-12 14:46] santilland commented on #31
I just checked and it is true that the zoom level is changed but not reset to a specific value, starting the tutorial multiple times then zooms further out every time, not really any kind of breaking issue, but we might consider making sure the zoome level is set to a specific value instead.
I could not see any issues with layer selection when resetting, quite some changes have been done to the la

[2021-02-12 14:51] santilland commented on #57
The cesium version was fixed to this one as it uses a specific way of rendering the dots. This is then overwritten by our deploy to make sure the shader uses a solution that does not create issues where dots overlap. Starting v 1.21 they changed how points are rendered, the points no longer disappear when displayed in a specific angle, but they create artifacts at the border of the points where so

[2021-02-12 14:56] santilland commented on #46
I would say the multiple plots is a solution to the described problem so i think this can be closed.

[2021-02-12 15:06] #46 closed

[2021-02-12 15:25] pacesm opened #434 "Investigate possible upgrade of Cesium"
Cesium is currently pinned to a fairly old v1.20 (https://github.com/ESA-VirES/WebClient-Framework/blob/ad6db0965f5d5ec112a564ccbe03e250a5549557/bower.json#L24).

Possible upgrade to a newer version should be investigated.

Also note that ...

also see https://github.com/ESA-VirES/WebClient-Framework/issues/57

[2021-02-12 15:26] pacesm commented on #57
Replaced by #434

[2021-02-12 15:26] #57 closed

[2021-02-17 14:28] pacesm opened #435 "Print time selection in the Cesium widget."
AEBS team proposes:

[2021-02-17 14:32] pacesm opened #436 "AV: refine the overaly symbols to allow seeing the data."
AEBS team responded to the overlay symbols:

FAO @lmar76

[2021-02-17 14:33] pacesm commented on #435
FAO @lmar76

[2021-02-17 14:57] pacesm opened #437 "Plot orbits with different colors."
PRISM team responded to the orbit plotting:

[2021-02-17 14:58] pacesm commented on #437
Already implemented and deployed on staging

![image](https://user-images.githubusercontent.com/4050019/108222345-ffe16180-7138-11eb-9f83-a85e881e552d.png)

[2021-02-17 14:59] pacesm commented on #437
FAO @lmar76

[2021-02-22 15:43] pacesm opened #438 "Confusing time/date selection in the in the download pannel."
Review the time-selection widget in the download panel.

The rounding of the time-selection interval to whole days causes the time-selection to be increased by one day, e.g, 2016-01-01T00:00:00.000Z/2016-01-01T23:59:59.999Z (1day) selection leads to download request 2016-01-01T00:00:00.000Z/2016-01-02T23:59:59.999Z (2days).

![image](https://user-images.githubusercontent.com/4050019/108731578-fa1a

[2021-02-23 17:22] pacesm opened #439 "Improve the labels to allow their use in publications."
The notation used in VirES labels (e.g., B_C) is not suitable in publications.
Allow using, e.g., the LaTeX notation to render typographically richer labels, allowing subscripts, superscripts, Greek letters ... etc.

Proposed by NiO

[2021-03-05 16:33] pacesm commented on #436
The overlays symbols can now be disabled in order to see the data  below them by clicking on the legend label.

![image](https://user-images.githubusercontent.com/4050019/110144287-74263100-7dd8-11eb-9973-fc62ba715cd8.png)

implemented in e3e56e0a9c32bc5bfbc329a8ad6092f81f549b7d

deployed on staging

[2021-03-18 18:11] pacesm commented on #407
see related https://github.com/ESA-VirES/Aeolus-Management/issues/62

[2021-03-30 10:46] lmar76 opened #441 "Incorrect list of data sources"
Issue detected on staging.

Select: satellite A, Electric current data -> The GUI is updated with FAC data of satellite A. The list of data sources includes AOBAFAC_2F and FACATMS_2F products:

<img width="638" alt="image" src="https://user-images.githubusercontent.com/20207042/112976494-3ad1ae80-9155-11eb-921f-5cb9938749f1.png">

In the layers list, select satellite B -> The GUI is updated with F

[2021-03-31 08:33] lmar76 opened #442 "Misaligned "Add filter" button"
The "Add filter" button in the Download Manager UI is misaligned:

<img width="778" alt="image" src="https://user-images.githubusercontent.com/20207042/113115262-8b581300-920c-11eb-9c79-6d2656076358.png">

[2021-03-31 09:30] lmar76 commented on #437
Tested

[2021-03-31 10:41] lmar76 commented on #436
Tested. Overlay symbols are displayed only for variable:
- FAC (FAC/FAC AOB)
- J_QD (AEJ LPL/PBL)
- J_DF_SemiQD (AEJ LPS/PBS)

[2021-04-01 08:53] pacesm commented on #437
Solved. Tracked in the 3.5 milestone.

[2021-04-01 08:53] #437 closed

[2021-04-01 08:53] pacesm commented on #311
Yes, it did.

I am closing the ticket as solved.

[2021-04-01 08:53] #311 closed

[2021-04-01 08:54] pacesm commented on #436
Solved. Tracked by the 3.5 milestone.

[2021-04-01 08:54] #436 closed

[2021-04-01 09:08] pacesm commented on #442
I can confirm the misaligned "Add filter" button in the current stable Chrome 89.0.4389.114.
This seems like a browser-specific issue.

[2021-04-01 09:11] lmar76 commented on #442
It happens also with Firefox 84.0.2

<img width="790" alt="image" src="https://user-images.githubusercontent.com/20207042/113271584-fa9c3880-92da-11eb-8ae8-833433a07eb1.png">

[2021-04-01 09:14] pacesm opened #443 "Truncated download time-stamps."
The time-stamps in the download panel are truncated right after the hour "2021-03-31T07:"

![image](https://user-images.githubusercontent.com/4050019/113271473-dcced380-92da-11eb-85d4-8633b1e024d2.png)

This has been observed in Chrome and Firefox and does not seems to be browser specific.

FAO: @lmar76

[2021-04-01 09:25] pacesm commented on #442
Interesting. I looks okay in in my Firefox 87.0

![image](https://user-images.githubusercontent.com/4050019/113272548-063c2f00-92dc-11eb-9b63-61994a4b3997.png)

In addition, the same glitch has been observed on the production instance. This does not seem like a V3.5 regression.
Nevertheless, it should be investigated and fixed. Hopefully, this will required just a simple CSS layout adjustment.

[2021-04-01 09:40] pacesm commented on #441
I am not able to reproduce the issue. When I select magnetic and electric current data for all A, B and C I see the correct list of products:

![image](https://user-images.githubusercontent.com/4050019/113274889-764bb480-92de-11eb-8591-1e529e8d141f.png)

Could you please re-try and see if you get the same issue again? Thanks.

[2021-04-02 17:02] pacesm commented on #442
The misaligned button is cased by the negative margin: https://github.com/ESA-VirES/WebClient-Framework/blob/ecf9f3f9476772a6945cfe2f515fd09f958ea58f/app/styles/download.scss#L132 trying to compensate for the broken layout of the `w2ui-field` list. The offset is apparently interpreted differently in different browsers (reps. browser versions) and this "trick" is not working.

[2021-04-02 18:44] pacesm commented on #443
Fixed. Deployed on staging.

[2021-04-06 10:26] santilland commented on #442
Issue should be solved with e09e62411a7a37f341672cc766bb99b49e9ca9f3
Update was deployed on staging.

[2021-04-06 15:43] lmar76 commented on #443
Tested. It works

[2021-04-06 15:45] lmar76 commented on #442
Tested.

[2021-04-06 15:56] lmar76 commented on #441
Sorry, I did not explain correctly. In all the 3 steps I selected only one satellite:
1. Alpha (default)
2. Selected Bravo and deselected Alpha
3. Selected Charlie and deselected Bravo

At step 2 I was expecting only AOBBFAC_2F and FACBTMS_2F. At step 3 I was expecting only AOBCFAC_2F and FACCTMS_2F.

[2021-04-06 16:04] #442 closed

[2021-04-06 16:15] lmar76 commented on #435
As far as I understood, they would like to have timestamps on Swarm trajectories on the globe map, but I can't see them.

<img width="1552" alt="image" src="https://user-images.githubusercontent.com/20207042/113743411-f077a100-9703-11eb-9bef-476d25187f14.png">

[2021-04-07 08:31] pacesm commented on #441
Thanks for the explanation. I managed to reproduce the issue. It seems it is caused by a combination of timing and slow responses of the staging server. This is issue is not exclusive to the current CR V3.5 and it is present in the current production deployments as well though much harder to get as the responses are almost instant.

If you wait enough time to load the requested data and then you d

[2021-04-07 08:51] #443 closed

[2021-04-07 09:43] pacesm commented on #435
I has not been implemented yet. I added this ticket to track this feature requests. I propose to leave it to the next release.

[2021-04-07 14:51] pacesm commented on #441
The fix has been deployed on staging.

[2021-04-07 15:06] lmar76 commented on #441
Testes. It works. Thank you

[2021-04-07 15:19] #441 closed

[2021-04-26 08:22] pacesm opened #445 "VA panel not rendering points on Linux with AMD APU"
The Visual Analytic panel may not render points on Linux with some AMD APU (AMD CPU with integrated GPU). The VA panel is blank, seemingly not showing any data

![image](https://user-images.githubusercontent.com/4050019/116049652-cec06880-a676-11eb-963a-a778cbf1364c.png)

The data are however loaded in the web client and become visible when the line connections are enabled

![image](https://user-i

[2021-07-26 09:36] pacesm opened #446 "Reliable orbit source"
Currently, the Swarm spacecrafts' orbits are retrieved from the MAGx_LR_1B products. This works fine, as long:
- the MAG products are available
- we work only with MAG and MAG-derived products

Unfortunately, the occasional gaps in the MAG product coverage cause, e.g., the pre-calculated orbit direction flags not being available for data  from other Swarm sensors.

We need to switch to more reliab

[2021-07-26 17:36] pacesm opened #447 "Data sources not cleared when no product is selected"
When no product is selected the data source keeps the list of the sources from the last data requests.

Expected behavior: blank list of data sources when no data is selected/fetched from the server.

[2021-07-26 17:43] pacesm opened #448 "Orbit requests do not update the data sources"
Data requests fetching positions for the displayed orbits do not contribute to the data sources.

Expected behavior: the data sources should contain product ids of products from which the spacecrafts' location were extracted.

Test:
- select no product in *Layers*
- select Satellite Orbit
-  the data sources shall display the product ids.

[2021-08-20 14:17] pacesm commented on #446
resolved by reading the orbit data from MODx_SC_1B products which covers the extend of all Swarm products.

already deployed on staging

[2021-08-20 14:17] #446 closed

[2021-08-20 15:18] pacesm opened #450 "Review refrences to products' spec"
Review links to the product specification because ...
- after the ESA web facelift, some of the links may not work as expected (e.g., URL fragments pointing to products descriptions no longer work)
- some of the newer Swarm DISC products had not been present in the Swarm on-line product specification when added in VirES
- possibly other changes (e.g., broken links) we don't know about yet

fao @lm

[2021-12-21 14:48] pacesm opened #453 "FAC visualization - spikes not displayed due to the data subsampling"
Reported by Lorenzo T.:

This problem is that the web client visualization plot the sub-sampled data and does not preserve the FAC spikes observed in the original data, as visualized in the plot below:

![image](https://user-images.githubusercontent.com/4050019/146948745-23372c7c-1b9f-47e1-bee1-65d0af6273c2.png)

Perhaps the visualizations of the FAC data in the VirES web client could be reconside

[2022-01-24 10:08] pacesm opened #454 "Meaning of the cryptic variable names should be documented"
![image](https://user-images.githubusercontent.com/4050019/150762706-0b9df110-ca65-49d3-84a4-984baa024ced.png)

The meaning of some of the variable names may not be obvious to all users. A better documentation is needed.

[2022-02-04 14:25] pacesm commented on #450
addressed in https://github.com/ESA-VirES/VirES-Server/commit/afafd7d91a12fa82a210aa71b8f86636432f7437

[2022-02-04 17:41] pacesm commented on #450
The links have been reviewed and updated. To be deployed in production with the V3.8.0 release.

[2022-02-04 17:41] #450 closed

[2022-09-09 10:10] pacesm commented on #445
This was temporary problem of the Linux driver. Newer kernel version are fine.

[2022-09-09 10:10] #445 closed

[2022-09-12 09:47] pacesm opened #461 "Different colorscales offered by "Layer Settings" and AV panels."
![image](https://user-images.githubusercontent.com/4050019/189611297-7a20eeeb-293a-4d2e-a32a-b5d26077fdaf.png)

![image](https://user-images.githubusercontent.com/4050019/189611586-702e2d9a-9f95-4eab-8a8d-2245b46ffed3.png)

This issue is caused by different colorscale definitions used in graphly.js.

[2022-09-12 10:05] pacesm commented on #461
requires https://github.com/EOX-A/graphly/commit/1badbf25e2848b3233bcb28f0cc61976f80b5c23

[2022-09-12 10:05] #461 closed

[2022-10-20 18:05] pacesm opened #463 "Invalid B_NEC values breaks scaling of the residuals."
![image](https://user-images.githubusercontent.com/4050019/197023227-b6b63389-c886-4dc6-8d74-dcbda06339b2.png)

Because no-data F and B_NEC are set to 0 the calculated residual have very high value which breaks the visualization.

Ideally, the server should set residuals to NaN for invalid F and B_NEC values.

[2022-10-29 07:18] pacesm opened #464 "Missing dF_Sun SW_MAGx_LR_1B variable."
The `SW_MAGx_LR_1B` baseline 06 added a new variable `dF_Sun` which is not yet exposed by VirES.

[2022-10-29 07:25] pacesm commented on #464
Server fixed in https://github.com/ESA-VirES/VirES-Server/commit/b15da082ff1f1d26aaf6a805a6846da075aa719d

[2022-10-29 08:59] pacesm commented on #464
Web client fixed in b70eb170644fd2f1ffa965234a606f755af6b18f

[2022-11-03 09:31] pacesm commented on #464
Python client resolved in https://github.com/ESA-VirES/VirES-Python-Client/pull/89 and [0.11.1 release](https://viresclient.readthedocs.io/en/latest/release_notes.html#changes-from-0-11-0-to-0-11-1).

[2022-11-03 09:31] #464 closed